# development
.nvim/

# content folders
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
.cache/
.config/
.local/
.pki/
.vim/
.viminfo
.vscode-oss/

!.config/bspwm/
!.config/lemonbar/
!.config/nvim/
!.config/picom/
!.config/sxhkd/
!.config/zsh/
