[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/bossley9/nvim.git
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/bossley9/dwm.git
[submodule ".config/st"]
	path = .config/st
	url = https://github.com/bossley9/st.git
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://github.com/bossley9/dmenu.git
[submodule ".config/surf"]
	path = .config/surf
	url = https://github.com/bossley9/surf.git
