[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/bossley9/nvim.git
[submodule ".config/st"]
	path = .config/st
	url = https://github.com/bossley9/st.git
[submodule ".themes/DotfilesGtk"]
	path = .themes/DotfilesGtk
	url = https://github.com/bossley9/DotfilesGtk.git
