! xresources, most commonly used for urxvt

! ----------------------------------------------------
! color theme
! credits to https://github.com/arcticicestudio/nord-xresources
! ----------------------------------------------------

*.foreground:   #d8dee9
*.background:   #2e3440
*.cursorColor:  #d8dee9
*fading: 35
*fadeColor: #4c566a

*.color0: #3b4252
*.color1: #3b42521
#*.color2: #a3be8c
*.color3: #3b42523
*.color4: #81a1c1
*.color5: #3b42525
*.color6: #88C0D0
*.color7: #e5e9f0
*.color8: #4c566a
*.color9: #3b42521
*.color10: #3b42524
*.color11: #3b42523
*.color12: #81a1c1
*.color13: #3b42525
*.color14: #8FBCBB
*.color15: #ECEFF4

! ----------------------------------------------------
! miscellaneous
! ----------------------------------------------------

! font
URxvt.font: xft:bitstream vera sans mono:size=8.5:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=8.5:antialias=true

! remove scrollbar
URxvt.scrollBar: false

! copy and paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! disable previous bindings
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

