html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div {
	box-sizing: border-box;
	-webkit-user-select: none;
	cursor: default;
}
.invisible {
	visibility: hidden;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes bubble-up {
	0% {
		transform:scale(0);
	}
	100% {
		transform:scale(1);
	}
}
@keyframes bubble-up2 {
	0% {
		transform:scale(1);
	}
	100% {
		transform:scale(0.5);
	}
}  /*animation: fade-in .4s ease;*/
/*http://stackoverflow.com/questions/3331353/transitions-on-the-display-property*/
@keyframes settings-anim {
	0% {
		right: -368px;
	}
	100% {
		right: 0;
	}
}
@keyframes bg-loading {
	from {
		transform:rotateY(0deg);
	}
	to {
		transform:rotateY(360deg);
	}
}
@keyframes space-activated-effect {
	from {
		transform:scale(0.99);
	}
	to {
		transform:scale(1);
	}
}
@keyframes close-menu-bar-folder {
	from {
		transform:scale(1);
	}
	to {
		transform:scale(0);
	}
}

/* media */
/* width-* is width of div */
/* < 300 */
.width-xs .browser-item {
	width: calc(100%/2 - 10px)
}
.width-xs .browser-view-list .browser-item {
	width: 100%
}
.width-xs .browser-view-tile .browser-item {
	width: 100%
}
/* 300 <=  > 600 */
.width-s .browser-item {
	width: calc(100%/3 - 10px)
}
.width-s .browser-view-list .browser-item {
	width: calc(100%/2 - 20px)
}
.width-s .browser-view-tile .browser-item {
	width: calc(100%/2 - 20px)
}
/* 600 <=  > 700 */
.width-m .browser-item {
	width: calc(100%/4 - 10px)
}
.width-m .browser-view-list .browser-item {
	width: calc(100%/3 - 20px)
}
.width-m .browser-view-tile .browser-item {
	width: calc(100%/3 - 20px)
}
/* 700 <=  > 1000 */
.width-l .browser-item {
	width: calc(100%/5 - 10px)
}
.width-l .browser-view-list .browser-item {
	width: calc(100%/4 - 20px)
}
.width-l .browser-view-tile .browser-item {
	width: calc(100%/3 - 20px)
}
/* 1000 <=  > 1200 */
.width-xl .browser-item {
	width: calc(100%/6 - 10px)
}
.width-xl .browser-view-list .browser-item {
	width: calc(100%/5 - 20px)
}
.width-xl .browser-view-tile .browser-item {
	width: calc(100%/4 - 20px)
}
/* 1200 <= > 1400  */
.width-xxl .browser-item {
	width: calc(100%/7 - 10px)
}
.width-xxl .browser-view-list .browser-item {
	width: calc(100%/6 - 20px)
}
.width-xxl .browser-view-tile .browser-item {
	width: calc(100%/5 - 20px)
}
/* >= 1400  */
.width-xxxl .browser-item {
	width: calc(100%/8 - 10px)
}
.width-xxxl .browser-view-list .browser-item {
	width: calc(100%/7 - 20px)
}
.width-xxxl .browser-view-tile .browser-item {
	width: calc(100%/6 - 20px)
}

.no-child-events * {
	pointer-events: none;
}
.opacity-2 {
	opacity: 0.2;
}

.bg-wrap {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	/*animation: fade-in 1s;*/
	/*transition: background-image 0.5s, opacity 0.5s;*/
	/*background-position: center;*/
}
.container {
	/*display: flex;*/
	position: relative;
	/*flex-direction: column;*/
	/*margin: auto auto;*/
	width: 100%;
	height: 100%;
	transition: opacity 0.4s ease-out 0s;
	overflow: hidden;
}
.zero-opacity {
	opacity: 0;
}

/* layout, columns */
.topbar {
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}
.content {
	display: flex;
	height: 100%;
}
.column {
	/*display: flex;*/
	position: relative;
	/*flex-direction: column;*/
	width: 100%;
	overflow: hidden;
	outline: none;
}
.column-left,
.column-right {
	width: 300px;
	margin: 0;
}
.column-left {
	/*margin-right: 20px;*/
}
.column-right {
	/*margin-left: 20px;*/
}
.column-middle {
	flex: 1;
}
.column-middle:focus {
	/*animation: space-activated-effect .4s ease;*/
}
.column-unfocused {
	opacity: 0.6;
	transition: opacity 0.8s ease;
}
.column-unfocused:hover {
	opacity: 1;
}

/* column */
.column-content {
	position: relative;
	/*flex: 1;*/
	width: 100%;
	height: calc(100% - 51px);
	padding-bottom: 100px;
	overflow: scroll;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
	/*http://stackoverflow.com/questions/15597167/css3-opacity-gradient*/
}
.column-content-left {
	width: calc(100% - 4px);
}
.column-wrap {
	/*width: 90%;*/
	overflow: hidden;
}
.column-left .column-wrap {
	width: 95%;
}
.column-bottom-bar {
	display: flex;
	width: 100%;
	height: 42px;
	padding: 5px;
}
.column-top-bar {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	height: 26px;
}

/* coolumn toggle */
.column-toggle {
	width: 10px;
	height: 100%;
	transition: background-color 0.2s;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.column-toggle:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.column-toggle-left {
	background-image: url('../img/column_toggle_right.svg');
}
.column-left-showed {
	background-image: url('../img/column_toggle_left.svg');
}
.column-toggle-right {
	background-image: url('../img/column_toggle_left.svg');
}
.column-right-showed {
	background-image: url('../img/column_toggle_right.svg');
}
.topbar-toggle {
	width: 100%;
	height: 10px;
	transition: background-color 0.2s;
	opacity: 0.5;
	/*top: 0;*/
	/*left: 0;*/
	background-image: url('../img/column_toggle_arrow_up.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.topbar-toggle:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.topbar-toggle-arrow-down {
	background-image: url('../img/column_toggle_arrow_down.svg');
}

/* resizer */
.column-resizer {
	position: absolute;
	top: 0;
	width: 4px;
	height: 100%;
	/*background-color: #ecacb6;*/
	cursor: ew-resize;
}
.column-resizer-left {
	/*position: relative;*/
	right: 0;
}
.column-resizer-right {
	left: 0;
}

/* column 'bottom' bar TODO rename*/
.column-bottom-bar-button {
	display: flex;
	width: calc(100%/3);
	/*height: 100%;*/
	font-size: 14px;
}
.column-bottom-bar-button div {
	/*margin: auto auto;*/
	/*padding: 0 5px;*/
	margin: 0 5px 0 5px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.column-bottom-bar-button div:first-child {
	margin-left: 20px;
}

/*--- scroll */
.column-content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.column-content::-webkit-scrollbar-track {
	background-color: transparent;
}
.column-content::-webkit-scrollbar-thumb {
	background-color: #E0E0E0;
	border-radius: 0;
}
.column-content::-webkit-scrollbar-thumb:hover {
	background-color: #cdcdcd;
}
.column-content::-webkit-scrollbar-corner {
	background-color: transparent;
}

/*https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/
/*input[type=range] {*/
/*	-webkit-appearance: none; !* Hides the slider so that custom slider can be made *!*/
/*	width: 100%; !* Specific width is required for Firefox. *!*/
/*	background: transparent; !* Otherwise white in Chrome *!*/
/*	border-radius: 3px;*/
/*}*/
/*input[type=range]::-webkit-slider-thumb {*/
/*	-webkit-appearance: none;*/
/*}*/
/*input[type=range]:focus {*/
/*	outline: none; !* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. *!*/
/*}*/

/* settings button*/
.settings-btn {
	position: fixed;
	/*right: 12px;*/
	/*bottom: 12px;*/
	width: 32px;
	height: 32px;
	background-image: url('../img/svg-settings.svg');
	background-size: 32px 32px;
	opacity: 0.4;
	transition: transform 0.6s ease;
	cursor: pointer;
}
.settings-btn:hover {
	opacity: 0.6;
	transform: rotateZ(270deg);
}
.settings-btn-notify {
	/*display: none;*/
	position: absolute;
	bottom: 0;
	right: 2px;
	width: 12px;
	height: 12px;
	border-radius: 16px;
	border: 2px solid white;
	background-color: #ff5b1e;
	z-index: 20;
}

/* background author */
.background-picture-author {
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 10;
	font-size: 12px;
}
.background-picture-author a,
.background-picture-author a:visited {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
}
.background-picture-author a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

/* list - Recents, Top sites, Apps, Search result */
.list-item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 3px 6px;
	/*overflow: hidden;*/
	width: 100%;
	margin-right: 3px;
	transition: background-color 0.2s ease-out;
	/*background-color: #929292;*/
}
.list-item:hover{
	/*opacity: 0.7;*/
	background-color: rgba(0,0,0,0.1);
}
.list-item:hover .list-item-hide,
.list-item:hover .list-item-icon-close {
	display: block;
}
.list-item-icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
}
.list-item-icon-folder {
	background-image: url('../img/folder-closed-16.png');
}
.list-item-icon-window {
	background-image: url('../img/window.png');
}
.list-item-icon-close {
	width: 24px;
	height: 24px;
	display: none;
	margin-right: 0;
	background-image: url("../img/close2.svg");
	opacity: 0.4;
}
.list-item-icon-close:hover {
	opacity: 0.7;
}
.list-item-title {
	display: block;
	flex: 1;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 28px;
	text-overflow: ellipsis;
	/*background-color: aquamarine;*/
}
.list-item-restore {
	cursor: pointer;
	opacity: 0.5;
}
.list-item-hide {
	display: none;
	margin-left: 20px;
}
.list-item-restore:hover {
	text-decoration: underline;
	opacity: 0.8;
}
.list-item-link:hover .list-item-title{
	text-decoration: underline;
	cursor: pointer;
}
.list-folder-content {
	margin-left: 21px;
}
.list-bold {
	font-weight: 500;
}
.device-item .list-item-title {
	margin-top: 10px;
}
.list-item-select {
	position: relative;
	margin-left: -27px;
	margin-right: 6px;
	background-color: rgb(49, 172, 224);
	width: 21px;
	height: 21px;
}
.list-item-active {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.list-item-selected,
.list-item-selected:hover {
	background-color: rgba(255, 255, 0, 0.3);
}
.list-item-drop-before {
	border-top: 2px dotted rgba(0, 0, 0, 0.5);
}
.list-item-drop-after {
	border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
}
.list-item-drop-into {
	/*border: 1px dashed rgba(0, 0, 0, 0.5);*/
	/*border-radius: 10px;*/
}