/*--- Flat ---*/
.light-theme .background {
	background-color: #e2e2e2;
}
.light-theme .column-left,
.light-theme .column-right {
	border: 0;
	border-image: linear-gradient(to bottom, rgba(203, 202, 200, 0.6) 50%, rgba(125,185,232,0) 100%) 1;
}
.light-theme .column-right {
	width: 320px;
}
.light-theme .column-left {
	border-right: 1px solid;
}
.light-theme .column-right {
	border-left: 1px solid;
}
.light-theme .column-right .column-wrap {
	margin-left: 20px;
	padding-right: 20px;
}

/* scroll */
.light-theme .column-content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.light-theme .column-content::-webkit-scrollbar-track {
	background-color: transparent;
}
.light-theme .column-content::-webkit-scrollbar-thumb {
	background-color: rgba(237, 237, 237, 0.59);
	border-radius: 0;
}
.light-theme .column-content::-webkit-scrollbar-thumb:hover {
	background-color: #f0f0f0;
}
.light-theme .column-content::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* browser*/
.light-theme .browser {}
.light-theme .browser-item {}
.light-theme .browser-back-btn .browser-item-icon {
	opacity: 0.3;
}
.light-theme .browser-back-btn .browser-item-icon:hover {
	opacity: 0.8;
}
.light-theme .browser-item-focused {
	background-color: rgba(165, 46, 46, 0.29) !important;
}
.light-theme .space-active .browser-item-keyboard-focused {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

/* browser tile view */
.light-theme .browser-view-tile .browser-item {
	background-color: rgba(255, 255, 255, 0.5);
	/*border: 1px solid #cbcac8;*/
	border: 1px solid rgba(0, 0, 0, 0.15);
}
/*.light-theme .browser-view-tile .space-active .browser-item-keyboard-focused {*/
	/*box-shadow: 0 0 10px 10px red;*/
/*}*/
/*.light-theme .browser-view-tile .browser-item-focused {*/
	/*background-color: #fffbf4;*/
/*}*/
.light-theme .browser-view-tile .browser-back-btn {
	border-color: transparent;
	background: none;
}
.light-theme .browser-view-tile .browser-item-selected,
.light-theme .browser-view-tile .browser-item-selected:hover {
	background-color: rgba(255, 255, 0, 0.3);
	border: 2px dotted rgba(0, 0, 0, 0.4)
}

/* browser navibar and bottom bar */
.light-theme .navibar-item-title {
	border-bottom: 1px solid transparent;
}
.light-theme .navibar-item-title:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* list */
.light-theme .list-item-active {
	border-color: rgba(0, 0, 0, 0.5);
	/*background-color: rgba(255, 255, 255, 0.3);*/
}

/* 'bottom' bar */
.light-theme .column-bottom-bar-button div {
	opacity: 0.4;
}
.light-theme .column-bottom-bar-button div:hover {
	opacity: 0.8;
	transition: opacity 0.2s ease-out 0s;
}
.light-theme .column-bottom-bar-button-active div {
	border-bottom: 1px solid rgba(0, 0, 0, 0.41);
	opacity: 0.8;
}

/* context menu */
.light-theme .context-menu {
	background-color: white;
	border: 1px solid #d1d1d1;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}
.light-theme .context-menu-item-hr {
	border-bottom: 1px solid #e1e1e1;
}
.light-theme .context-menu-item:hover {
	background-color: #ececec;
}
.light-theme .context-menu-item-focused {
	background-color: #dbdbdb;
}
.light-theme .context-menu-item-confirm,
.light-theme .context-menu-item-confirm:hover {
	background-color: #ecacb6;
}

/* edit dialog */
.light-theme .edit-dialog {
	background-color: White;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.27);
	/*padding-right: 10px;*/
}
.light-theme .edit-dialog-button {
	background: #f8f8f8;
	border: 1px solid #c6c6c6;
	/*margin-top: 15px;*/
	/*margin-right: 10px;*/
}
.edit-dialog-buttons-bar {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.1);
}

/* search */
.light-theme .search-bar-input {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.light-theme .s-b-i-button-search {
	border-left: 1px solid rgba(0, 0, 0, 0.03);
	background-color: rgba(0, 0, 0, 0.02);
}
.light-theme .s-b-i-button-search:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.light-theme .s-b-i-select-engine {
	color: rgba(0, 0, 0, 0.3);
}
.light-theme .s-b-i-select-engine option {
	color: rgba(0, 0, 0, 0.6);
}
.light-theme .search-list-item-active {
	background-color: #eeeeee;
}


/* Flat dark  ------------*/
/*--- Flat ---*/
.dark-theme {
	color: rgba(255, 255, 255, 0.91);
}
.dark-theme .background {
	background-color: #535353;
}
.dark-theme .column-left,
.dark-theme .column-right {
	/*border-image: linear-gradient(to bottom, rgba(66, 66, 66, 0.6) 50%, rgba(125,185,232,0) 100%) 1;*/
	border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 50%, rgba(125,185,232,0) 100%) 1;
}
.dark-theme .column-toggle,
.dark-theme .topbar-toggle {
	filter: invert(1);
}
.dark-theme .column-left {
	border-right: 1px solid;
}
.dark-theme .column-right {
	border-left: 1px solid;
}
.dark-theme .column-right .column-wrap {
	margin-left: 20px;
	padding-right: 20px;
}
.dark-theme .column-middle .column-content {
	/*padding-left: 5px;*/
}
.dark-theme .background-picture-author a {
	filter: invert(1);
}

/* scroll */
.dark-theme .column-content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.dark-theme .column-content::-webkit-scrollbar-track {
	background-color: transparent;
}
.dark-theme .column-content::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0;
}
.dark-theme .column-content::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .column-content::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* tree */
.dark-theme .bm-item:hover {
	background-color: rgba(255, 255, 255, 0.12);;
}
.dark-theme .bm-title-edit {
	color: #dcdcdc;
	background-color: #424242;
}
.dark-theme .bm-item-dragover .bm-icon {
	filter: invert(1);
	opacity: 0.8;
}
.dark-theme .bm-trigger,
.dark-theme .bm-item-dragover-before:before {
	filter: invert(1);
}

/* browser */
.dark-theme .browser-back-btn .browser-item-icon {
	opacity: 0.3;
	filter: invert(1);
}
.dark-theme .browser-back-btn .browser-item-icon:hover {
	opacity: 0.8;
}
.dark-theme .browser-item-focused {
	background-color: rgba(88, 24, 24, 0.6);
}
.dark-theme .space-active .browser-item-keyboard-focused {
	background-color: rgba(255, 255, 255, 0.2) !important;
}
.dark-theme .browser-item-title-edit {
	color: #dcdcdc;
	background-color: #424242;
}
.dark-theme .browser-item:hover {
	background-color: rgba(255, 255, 255, 0.15);
}
.dark-theme .browser-item-selected:hover {
	background-color: rgba(255, 255, 0, 0.3);
}

/* browser tile view */
.dark-theme .browser-view-tile .browser-item {
	background-color: rgba(71, 71, 71, 0.62);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.dark-theme .browser-view-tile .browser-item:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.66);
}
.dark-theme .browser-view-tile .browser-item-focused {
	background-color: #3e3e3e;
}
.dark-theme .browser-view-tile .browser-back-btn {
	border-color: transparent;
	background: none;
}
.dark-theme .browser-view-tile .browser-item-selected,
.dark-theme .browser-view-tile .browser-item-selected:hover {
	background-color: rgba(255, 255, 0, 0.3);
	border: 2px dotted rgba(0, 0, 0, 0.4)
}
.dark-theme .browser-view-compact .browser-dragover-folder .browser-item-folder-icon,
.dark-theme .browser-dragover-before::before,
.dark-theme .browser-dragover-after::after {
	filter: invert(1);
}

/* menu bar */
.dark-theme .column-menu-bar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.dark-theme .menu-bar-item {
	/*color: rgba(255, 255, 255, 0.5);*/
}
.dark-theme .menu-bar-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.dark-theme .menu-bar-item-active {
	/*color: rgba(255, 255, 255, 0.9);*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-theme .menu-bar-add-btn,
.dark-theme .menu-bar-back-btn,
.dark-theme .menu-bar-forward-btn,
.dark-theme .menu-bar-item-icon-close,
.dark-theme .menu-bar-btn,
.dark-theme .menu-bar-item-dropdown::after,
.dark-theme .menu-bar-item-drop-before,
.dark-theme .menu-bar-item-drop-after {
	filter: invert(1);
}

/* browser navibar and bottom bar */
.dark-theme .navibar-item-title {
	border-bottom: 1px solid transparent;
}
.dark-theme .navibar-item-title:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* list */
.dark-theme .list-item:hover {
	background-color: rgba(255, 255, 255, 0.15);
}
.dark-theme .list-item-active {
	/*background-color: rgba(255, 255, 255, 0.2);*/
	border-color: rgba(255, 255, 255, 0.5);
}
.dark-theme .list-item-icon-window,
.dark-theme .list-item-icon-close {
	filter: invert(1);
}
.dark-theme .list-item-drop-before,
.dark-theme .list-item-drop-after {
	border-color: rgba(255, 255, 255, 0.7);
}
.dark-theme .list-item-selected:hover {
	background-color: rgba(255, 255, 0, 0.3);
}

	/* browser view switcher */
.dark-theme .browser-view-switcher-item {
	filter: invert(1);
}

/* 'bottom' bar */
.dark-theme .column-bottom-bar-button div {
	opacity: 0.4;
}
.dark-theme .column-bottom-bar-button div:hover {
	opacity: 0.8;
	transition: opacity 0.2s ease-out 0s;
}
.dark-theme .column-bottom-bar-button-active div {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	opacity: 0.8;
}

/* search */
.dark-theme .search-bar-input {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	/*border: 1px solid rgba(255, 255, 255, 0);	*/
	border: 0;
}
.dark-theme .search-bar-input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}
.dark-theme .search-bar-input:focus {
	background-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .s-b-i-button-search {
	margin-top: 0;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	filter: invert(1);
}
.dark-theme .s-b-i-button-search:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.dark-theme .s-b-i-button-reset {
	filter: invert(1);
}
.dark-theme .search-bar-result {
	background-color: #3e3e3e;
	box-shadow: 0 5px 10px 0 #2f2f2f;
}
.dark-theme .s-b-i-select-engine {
	color: rgba(255, 255, 255, 0.3);
}
.dark-theme .s-b-i-select-engine option {
	color: rgba(255, 255, 255, 0.5);
	background-color: #3e3e3e;
}
.dark-theme .search-list-item-active {
	background-color: rgba(255, 255, 255, 0.2);
}

/* context menu */
.dark-theme .context-menu {
	background-color: #3e3e3e;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}
.dark-theme .context-menu-item {
	color: #9c9c9c;
}
.dark-theme .context-menu-item:hover {
	background-color: #565656;
}
.dark-theme .context-menu-item-hr {
	border-bottom: 1px solid #797979;
}
.dark-theme .context-menu-item-focused {
	background-color: #494949;
}
.dark-theme .context-menu-item-confirm,
.dark-theme .context-menu-item-confirm:hover {
	background-color: #563d41;
}

/* edit dialog */
.dark-theme .edit-dialog {
	background-color: #474747;
	border: 1px solid #383838;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.27);
}
.dark-theme .edit-dialog-button {
	background: #575757;
	border: 1px solid rgba(0, 0, 0, 0.42);
}
.dark-theme .edit-dialog input {
	background-color: #787878;
	border: 0;
}
.dark-theme .edit-dialog input::placeholder {
	color: #d7d7d7;
}
.dark-theme .edit-dialog-override-h3 {
	background-color: transparent;
}