* {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

window {
	background-color: rgba(0, 0, 0, 0.7);
}

button {
  border-radius: 0;
  font-size: 30pt;
  transition: 0.1s all;
}

button:focus, button:active, button:hover {
  color: #30b86c;
	outline: none;
}

#lock {
     /* background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png")); */
}

#logout {
    /* background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png")); */
}

#suspend {
    /* background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png")); */
}

#hibernate {
    /* background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png")); */
}

#shutdown {
    /* background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png")); */
}

#reboot {
    /* background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
}
