:root {
    --color-bg: $FF_BG;
    --color-bg-alt: $FF_BG_ALT;
    --color-fg: $FF_FG;
    --color-fg-alt: $FF_FG_ALT;
    --disabled: $FF_DISABLED;

    --color-primary: $FF_PRIMARY;
    --color-secondary: $FF_SECONDARY;
    --color-warning: $FF_WARNING;
    --color-alert: $FF_ALERT;

    --corner-radius: ${W_CORNER_RADIUS}px;
}

/**
 * ------------------------------------------------
 * general
 * ------------------------------------------------
 */

/* body { */
/*   background-color: var(--color-bg) !important; */
/*   color: var(--color-fg) !important; */
/* } */
/* input { */
/*   color: var(--color-fg) !important; */
/* } */

/* ads */
/* google */
.img_ad,
[id^='google_ads'],
/* youtube */
#masthead-ad,
[view-style="COMPACT_PROMOTED_ITEM_STYLE_RICH_GRID"] #dismissable,
[is-show-more-hidden] #dismissable,
/* general */
#ad, .ad {
  display: none !important;
}

/* cookies */
#cookiebar,
#js-gdpr-consent-banner {
  display: none !important;
}

/* markdown output (nvim) */
header#title-block-header {
  display: none;
}

/* tridactyl */
/* commented out because it flashes and is a bit glitchy */
/* .TridactylOwnNamespace.TridactylThemeDefault { */
/*     background: var(--color-bg) !important; */
/*     color: var(--color-fg) !important; */
/* } */
/* .TridactylOwnNamespace.TridactylThemeDefault body { */
/*     background: var(--color-bg) !important; */
/*     color: var(--color-fg) !important; */
/* } */
/* .TridactylOwnNamespace.TridactylThemeDefault a { */
/*     color: var(--color-primary) !important; */
/* } */

/**
 * ------------------------------------------------
 * FF pages
 * ------------------------------------------------
 */

@-moz-document url("about:newtab"), url("about:home"), url("about:blank"), url("about:preferences") {
    .sticky-container,
    body { background-color: var(--color-bg) !important; }
}

/**
 * ------------------------------------------------
 * duckduckgo
 * ------------------------------------------------
 */

@-moz-document domain(duckduckgo.com) {
    .site-wrapper, .header-wrap { background-color: var(--color-bg) !important; }
    /* hide duckduckgo logo - not because I hate it but because I think it's more aesthetic without it*/
    .header__logo { background-image: none !important; }

    .search--home, .search--header { background-color: var(--color-bg) !important; }
    .search--focus .search__button,
    .search--hover .search__button,
    .acp--highlight {
        background-color: var(--color-bg-alt) !important;
    }

    .tileview .metabar--fixed { background-color: var(--color-bg) !important; }
    .tile .tile__body { background: var(--color-bg-alt) !important; }

    .results--main .highlight { background-color: var(--color-bg-alt) !important; }

    .module, .module--carousel__item { background: var(--color-bg-alt) !important; }
    .module.module--carousel { background: var(--color-bg) !important; }
    .module--carousel__left,
    .module--carousel__right {
        background-color: var(--color-bg) !important;
        border-color: var(--color-bg-alt) !important;
    }
    .module--carousel__left:hover,
    .module--carousel__right:hover {
        background-color: var(--color-bg-alt) !important;
    }
    .module__toggle { background-color: var(--color-bg-alt) !important; }

    .feedback-btn, .feedback-btn a { background: var(--color-bg-alt) !important; }

    .btn {
        background-color: var(--color-bg) !important;
        border: 1px solid var(--color-bg-alt) !important;
    }
    .btn:hover { background-color: var(--color-bg-alt) !important; }

    .vertical--map__sidebar__wrapper, .place-detail { background: var(--color-bg) !important; }
    .acp-wrap, .zci { background-color: var(--color-bg) !important; }
    .zci--videos .metabar,
    .zci--images .metabar {
        background-color: var(--color-bg) !important;
    }

    .footer { background-color: var(--color-bg) !important; }
    .footer__card { background-color: var(--color-bg-alt) !important; }

    .modal__box,
    .modal__box__header,
    .modal .frm__text,
    .modal .frm__input {
        border: 1px solid var(--color-bg-alt) !important;
        background: var(--color-bg) !important;
    }

    .modal__list__link:hover { background-color: var(--color-bg-alt) !important; }
    .showcase__dropdown-bottom { background-color: var(--color-bg) !important; }
    .nav-menu, .nav-menu--slideout { background-color: var(--color-bg) !important; }

    /* styles */

    .acp-wrap { padding: 0 !important; }
    .search-filters-wrap::before,
    .search-filters-wrap::after,
    .metabar__dropdowns-wrap::before,
    .metabar__dropdowns-wrap::after {
        background-image: none !important;
    }
    .module--carousel__item { box-shadow: none !important; }
}

/**
 * ------------------------------------------------
 * youtube
 * ------------------------------------------------
 */

@-moz-document domain(youtube.com) {
    :root {
        --yt-spec-general-background-a: var(--color-bg) !important;
        --yt-spec-general-background-b: var(--color-bg) !important;
        --yt-spec-brand-background-solid: var(--color-bg) !important;
        --yt-spec-10-percent-layer: var(--color-bg-alt) !important;
        --yt-spec-badge-chip-background: var(--color-bg-alt) !important;
        --yt-spec-brand-background-primary: var(--color-bg) !important;
        --yt-spec-brand-button-background: var(--color-primary) !important;
        --yt-spec-call-to-action: var(--color-primary) !important;
        --yt-spec-static-brand-red: var(--color-primary) !important;
        --yt-spec-brand-link-text: var(--color-primary) !important;
    }

    #masthead { background-color: var(--color-bg) !important; }
    #logo-icon-container { display: none !important; } /* lel kek */
    .ytp-swatch-background-color { background-color: var(--color-primary) !important; }
    .ytp-progress-list { background: rgba(255,255,255,0.1) !important; }
    .ytp-load-progress { background: rgba(255,255,255,0.1) !important; }
    .ytp-hover-progress { background: rgba(255,255,255,0.1) !important; }
    .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg { 
        fill: var(--color-primary) !important; 
    }
    .ytp-chrome-controls .ytp-button[aria-pressed]::after {
        background-color: var(--color-primary) !important;
    }
    #contents { background-color: var(--color-bg) !important; }
}

/**
 * ------------------------------------------------
 * youtube studio
 * ------------------------------------------------
 */

@-moz-document domain(studio.youtube.com) {
  :root {
    --paper-dialog-background-color: var(--color-bg) !important;
    --paper-dialog-color: var(--color-fg) !important;

    --primary-text-color: var(--color-fg) !important;
    --ytcp-background-color: var(--color-bg) !important;

    --ytcp-brand-background-solid: var(--color-bg) !important;
    --ytcp-background-0: var(--color-bg) !important;
    --ytcp-background-10: var(--color-bg-alt) !important;
    --ytcp-background-20: var(--color-bg-alt) !important;
    --ytcp-background-30: var(--color-bg) !important;
    --ytcp-background-90: var(--color-bg-alt) !important;

    --ytcp-black-primary: var(--color-fg) !important;
    --ytcp-black-secondary: var(--color-fg-alt) !important;
    --ytcp-white-primary: var(--color-bg) !important;
    --ytcp-white-secondary: var(--color-bg-alt) !important;

    --ytcp-studio-blue: var(--color-primary) !important;
    --ytcp-call-to-action: var(--color-primary) !important;
    --ytcp-call-to-action-raised-background: var(--color-primary) !important;
    --top-banner-color: var(--color-primary);
    --iron-icon-fill-color: var(--color-fg-alt);
    --ytcp-studio-green: var(--color-secondary) !important;
  }

  ytcp-video-section-content {
    --header-background-color: var(--color-bg) !important;
    --row-background-color: var(--color-bg) !important;
  }

  .top-banner.ytcd-carousel-card {
  }

  .ytcp-home-button { display: none !important; }
  .floating-column.ytcp-table-header, ytcp-table-header,
  .header.ytcp-content-section { background: var(--color-bg) !important; }
  .iron-selected.ytcp-navigation-drawer,
  .iron-selected.ytcp-navigation-drawer .ytcp-navigation-drawer
  { color: var(--color-primary) !important; }
  .ytcp-navigation-drawer::after {
    background-color: var(--color-primary) !important;
  }
  .icon-text-edit-triangle-wrap.ytcp-video-row .icon-yellow.ytcp-video-row {
    color: var(--color-warning) !important;
  }
  #video-snapshot.yta-video-snapshot {
    background-color: var(--color-bg) !important;
  }
}

/**
 * ------------------------------------------------
 * reddit
 * ------------------------------------------------
 */

@-moz-document domain(reddit.com) {
    /* .ListingLayout-backgroundContainer::before { */
    /*     background-color: var(--color-bg) !important; */
    /*     color: var(--color-fg) !important; */
    /* } */
    /* [role=button] { */
    /*     color: var(--color-fg) !important; */
    /*     background: var(--color-bg) !important; */
    /*     border: 1px solid var(--color-bg-alt) !important; */
    /* } */
    /* [data-redditstyle=true], */
    /* [data-redditstyle=true] > div { */
    /*     background-color: var(--color-bg) !important; */
    /*     border: 1px solid var(--color-bg-alt) !important; */
    /*     color: var(--color-fg) !important; */
    /* } */
    /* .public-DraftEditor-content { background-color: var(--color-bg) !important; } */
    /* .Post { */
    /*     background-color: var(--color-bg) !important; */
    /*     color: var(--color-fg) !important; */
    /* } */
}

/**
 * ------------------------------------------------
 * github
 * ------------------------------------------------
 */

@-moz-document regexp("^https?://((education|gist|graphql|guides|docs|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!generated_pages/preview).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
    body {
      color: var(--color-fg) !important;
      background-color: var(--color-bg) !important;
    }
    html, body {
      scrollbar-color: var(--color-bg-alt) var(--color-bg) !important;
    }
    /* header nav bar */
    .Header { background-color: var(--color-bg) !important; }
    .Header-link { color: var(--color-fg) !important; }
    /* header repo bar */
    .bg-gray-light { background-color: var(--color-bg) !important; }
    .text-gray { color: var(--color-fg-alt) !important; }
    a { color: var(--color-primary) !important; }
    .UnderlineNav { box-shadow: inset 0 -1px 0 var(--color-bg-alt) !important; }
    .UnderlineNav-item { color: var(--color-fg) !important; }
    .UnderlineNav-item.selected, .UnderlineNav-item:focus,
    .UnderlineNav-item:hover { border-bottom-color: var(--color-primary) !important; }
    .social-count {
      background-color: var(--color-bg) !important;
      border: 1px solid var(--color-bg-alt) !important;
      box-shadow: none !important;
    }
    .UnderlineNav-octicon { color: var(--color-fg) !important; }
    /* repo body */
    .border-black-fade { border-color: var(--color-bg-alt) !important; }
    .border-top { border-top: 1px solid var(--color-bg-alt) !important; }
    .Box-row--yellow { background-color: var(--color-bg-alt) !important; }
    .btn-blue, .btn-primary {
      color: var(--color-fg) !important;
      background-color: var(--color-secondary) !important;
    }
    .Box-body { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .Box { border: 1px solid var(--color-bg-alt) !important; }
    .topic-tag {
      color: var(--color-fg) !important;
      background-color: var(--color-bg-alt) !important;
    }
    .text-gray-dark { color: var(--color-fg-alt) !important; }
    .btn {
      background-color: var(--color-bg-alt) !important;
      border-color: var(--color-bg-alt) !important;
      color: var(--color-fg) !important;
      box-shadow: none !important;
    }
    .btn-blue .octicon, .btn-primary .octicon { color: var(--color-fg) !important; }
    .BorderGrid-cell { border: 1px solid var(--color-bg-alt) !important; }
    /* repo browser */
    .Box-header--blue {
      background-color: var(--color-bg-alt) !important;
      border-color: var(--color-bg-alt) !important;
    }
    .avatar { box-shadow: 0 0 0 1px var(--color-bg-alt) !important; }
    .hx_avatar_stack_commit .AvatarStack-body { background-color: var(--color-bg-alt) !important; }
    .hx_bg-black-fade-15,
    .ellipsis-expander:hover, .hidden-text-expander a:hover {
      background-color: var(--color-bg) !important;
    }
    .Box-row { border-top: 1px solid var(--color-bg-alt) !important; }
    .Box {
      background-color: var(--color-bg) !important;
      border: 1px solid var(--color-bg-alt) !important;
    }
    .Box-row:hover, .navigation-focus { background-color: var(--color-bg) !important; }
    .text-color-icon-directory { color: var(--color-primary) !important; }
    .color-blue-3 { color: var(--color-secondary) !important; }
    .Link--primary, .link-gray-dark,
    .Link--secondary, .link-gray {
      color: var(--color-fg) !important;
    }
    /* readme */
    .bg-white {
      background-color: var(--color-bg) !important;
      border-color: var(--color-bg-alt) !important;
    }
    body pre { background-color: var(--color-bg-alt) !important; }
    .pl-s .pl-s1, .pl-smi { color: var(--color-primary) !important; }
    .pl-c1, .pl-s .pl-v,
    .pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
      color: var(--color-secondary) !important;
    }
    .markdown-body blockquote { border-left: .25em solid var(--color-bg-alt) !important; }
    .markdown-body h1, .markdown-body h2 { border-bottom: 1px solid var(--color-bg-alt) !important; }
    /* modal */
    .SelectMenu-modal {
      border-color: var(--color-bg-alt) !important;
      background-color: var(--color-bg-alt) !important;
    }
    .SelectMenu-header,
    .SelectMenu-filter {
      border-bottom: 1px solid var(--color-bg) !important;
    }
    .form-control, .form-select {
      color: var(--color-fg) !important;
      background-color: var(--color-bg-alt) !important;
    }
    .SelectMenu-tabs { box-shadow: inset 0 -1px 0 var(--color-bg-alt) !important; }
    .SelectMenu-tab {
      color: var(--color-fg) !important;
      box-shadow: inset 0 -1px 0 var(--color-bg-alt) !important;
    }
    .SelectMenu-tab:not([aria-selected="true"]):active,
    .SelectMenu-tab[aria-selected="true"]:active,
    .SelectMenu-tab:active {
      background-color: var(--color-bg) !important;
    }
    .SelectMenu-tab[aria-selected="true"] {
      background-color: var(--color-bg) !important;
      border-color: var(--color-bg-alt) !important;
    }
    .SelectMenu-item, .SelectMenu-list { background-color: var(--color-bg) !important; }
    .SelectMenu-item { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .Label--gray, .Label--outline {
      color: var(--color-fg) !important;
      border-color: var(--color-bg-alt) !important;
    }
    .SelectMenu-message { background-color: var(--color-bg) !important; }
    .SelectMenu-footer { border-top: 1px solid var(--color-bg-alt) !important; }
    .form-control, .form-select { border: 1px solid var(--color-fg) !important; }
    .SelectMenu-footer a { color: var(--color-fg) !important; }
    .dropdown-menu {
      background-color: var(--color-bg-alt) !important;
      border: 1px solid var(--color-bg) !important;
    }
    .dropdown-menu::before { border-bottom: 8px solid var(--color-bg-alt) !important; }
    .dropdown-menu::after { border-bottom: 7px solid var(--color-bg-alt) !important; }
    .dropdown-divider { border-top: 1px solid var(--color-bg) !important; }
    .dropdown-item { color: var(--color-fg) !important; }
    .dropdown-item:focus, .dropdown-item:hover {
      background-color: var(--color-fg) !important;
      color: var(--color-bg) !important;
    }
    .border { border: 1px solid var(--color-bg) !important; }
    .user-status-org-button.selected { background-color: var(--color-fg) !important; }
    .header-nav-current-user .user-profile-link {
      color: var(--color-fg) !important;
    }
    /* file view */
    .flex-items-start { align-items: center !important; }
    .breadcrumb strong.final-path { color: var(--color-fg) !important; }
    .file-info-divider { background-color: var(--color-fg) !important; }
    .Box-header {
      background-color: var(--color-bg-alt) !important;
      border: 1px solid var(--color-bg-alt) !important;
    }
    .pl-e, .pl-en { color: var(--color-primary) !important; }
    .pl-k { color: var(--color-secondary) !important; }
    /* file finder */
    .d-block { color: var(--color-fg) !important; }
    .border-bottom { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .border-left { border-left: 1px solid var(--color-bg-alt) !important; }
    .border-right { border-right: 1px solid var(--color-bg-alt) !important; }
    .tree-browser-result mark { color: var(--color-primary) !important; }
    .tree-browser-result[aria-selected="true"] .octicon-chevron-right { color: var(--color-primary) !important; }
    /* issues */
    .subnav-item { border: 1px solid var(--color-fg) !important; }
    .subnav-item:focus, .subnav-item:hover { background-color: var(--color-fg) !important; }
    .Counter { background-color: var(--color-bg) !important; }
    .table-list-header-toggle .btn-link.selected,
    .table-list-header-toggle .btn-link.selected:hover {
      color: var(--color-fg) !important;
    }
    a.IssueLabel { color: inherit !important; }
    .issues-reset-query-icon {
      color: var(--color-bg) !important;
      background-color: var(--color-fg-alt) !important;
    }
    .issues-reset-query:hover .issues-reset-query-icon { background-color: var(--color-primary) !important; }
    .subnav-search-icon { color: var(--color-fg) !important; }
    .SelectMenu-divider {
      background-color: var(--color-bg) !important;
      border-bottom: 1px solid var(--color-bg-alt) !important;
    }
    .reaction-sort-item:focus, .reaction-sort-item:hover { background-color: var(--color-fg) !important; }
    .Popover-message--bottom-left::before,
    .Popover-message--bottom-right::before,
    .Popover-message--bottom::before {
      border-top-color: var(--color-bg-alt) !important;
    }
    .Popover-message--bottom-left::after,
    .Popover-message--bottom-right::after,
    .Popover-message--bottom::after {
      border-top-color: var(--color-bg) !important;
    }
    /* issue page */
    .gh-header { background-color: var(--color-bg) !important; }
    .gh-header-meta { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .discussion-sidebar-item + .discussion-sidebar-item { border-top: 1px solid var(--color-bg-alt) !important; }
    .gh-header .gh-header-sticky.is-stuck + .gh-header-shadow { background-color: var(--color-bg-alt) !important; }
    .thread-subscription-status { background-color: var(--color-bg) !important; }
    .discussion-sidebar-toggle:hover { color: var(--color-primary) !important; }
    .timeline-comment-header { background-color: var(--color-bg-alt) !important; }
    .timeline-comment, .timeline-comment-header { border-color: var(--color-bg-alt) !important; }
    .timeline-comment--caret::before,
    .timeline-comment--caret::after { border-right-color: var(--color-bg-alt) !important; }
    .edit-comment-hide { background-color: var(--color-bg) !important; }
    .TimelineItem::before { background-color: var(--color-bg-alt) !important; }
    .TimelineItem-badge {
      border: 2px solid var(--color-bg-alt) !important;
      background-color: var(--color-bg) !important;
    }
    .timeline-comment-label { border-color: var(--color-bg-alt) !important; }
    .TimelineItem-break {
      background-color: var(--color-bg) !important;
      border-top: 4px solid var(--color-bg-alt) !important;
    }
    kbd {
      background-color: var(--color-bg-alt) !important;
      border: 1px solid var(--color-bg-alt) !important;
      color: var(--color-fg) !important;
    }
    .ellipsis-expander, .hidden-text-expander a {
      background: var(--color-bg) !important;
      color: var(--color-fg) !important;
    }
    .text-white { color: var(--color-fg) !important; }
    .discussion-timeline-actions {
      background-color: var(--color-bg) !important;
      border-top: 2px solid var(--color-bg) !important;
    }
    .page-responsive .previewable-comment-form .comment-form-head.tabnav {
      background: var(--color-bg-alt) !important;
    }
    .border-md { border: 1px solid var(--color-bg-alt) !important; }
    .timeline-comment { background-color: var(--color-bg) !important; }
    .write-content { background: var(--color-bg) !important; }
    .border-lg-bottom { border-bottom: 1px solid var(--color-bg) !important; }
    .tabnav-tab.selected, .tabnav-tab[aria-current]:not([aria-current="false"]),
    .tabnav-tab[aria-selected="true"] {
      background-color: var(--color-bg) !important;
      border-color: var(--color-bg) !important;
    }
    .toolbar-item .menu-target:hover, .toolbar-item:hover { color: var(--color-primary) !important; }
    .select-menu-modal {
      border-color: var(--color-bg-alt) !important;
      color: var(--color-fg) !important;
    }
    .select-menu-filters, .select-menu-header { background: var(--color-bg-alt) !important; }
    .select-menu-divider, .select-menu-header { border-bottom: 1px solid var(--color-bg) !important; }
    .select-menu-divider {
      background: var(--color-bg-alt) !important;
      border-top: 1px solid var(--color-bg) !important;
    }
    .select-menu-item {
      background-color: var(--color-bg-alt) !important;
      border-bottom: 1px solid var(--color-bg) !important;
    }
    .select-menu-item:hover, .select-menu-item:hover .description { color: var(--color-primary) !important; }
    .suggester {
      background: var(--color-bg-alt) !important;
      border: 1px solid var(--color-bg) !important;
    }
    .suggester li { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .suggester li.navigation-focus, .suggester li[aria-selected="true"],
    .suggester li:hover {
      color: var(--color-bg) !important;
      background: var(--color-fg) !important;
    }
    .suggester li.navigation-focus small, .suggester li[aria-selected="true"] small,
    .suggester li:hover small { color: var(--color-bg) !important; }
    .timeline-new-comment .previewable-comment-form .comment-body { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .drag-and-drop {
      border-color: var(--color-bg-alt) !important;
      background-color: var(--color-bg) !important;
    }
    .navigation-focus .AvatarStack-body, [aria-selected="true"] .AvatarStack-body { background: var(--color-bg) !important; }
    .flash-warn {
      background-image: none !important;
      background-color: var(--color-warning) !important;
      border-color: var(--color-warning) !important;
      color: var(--color-fg) !important;
    }
    .commit-ref { background-color: var(--color-bg-alt) !important; }
    .color-yellow-7 { color: var(--color-warning) !important; }
    .select-menu-text-filter:first-child:last-child { border-bottom: 1px solid var(--color-bg) !important; }
    .select-menu-item:hover > .octicon,
    .select-menu-item[aria-checked="true"]:hover > .octicon { color: var(--color-primary) !important; }
    .tabnav { border-bottom: 1px solid var(--color-bg-alt) !important; }
    /* pull requests */
    .branch-action-body { background-color: var(--color-bg) !important; }
    .btn-link { color: var(--color-primary) !important; }
    .merge-status-list { border: solid var(--color-bg-alt) !important; }
    .merge-status-item {
      background-color: var(--color-bg) !important;
      border-bottom: 1px solid var(--color-bg-alt) !important;
    }
    .branch-action-body .merge-branch-form, .branch-action-body .merge-message,
    .branch-action-body .queue-branch-form {
      background-color: var(--color-bg) !important;
      border-top: 1px solid var(--color-bg-alt) !important;
    }
    .branch-action-item + .branch-action-item,
    .branch-action-item + .mergeability-details {
      border-top: 1px solid var(--color-bg-alt) !important;
    }
    /* review */
    .commit-ref a { color: var(--color-fg) !important; }
    .diffbar { background-color: var(--color-bg) !important; }
    .file-header {
      background-color: var(--color-bg-alt) !important;
      border-bottom: 1px solid var(--color-bg) !important;
    }
    .file { border: 1px solid var(--color-bg-alt) !important; }
    .Progress { background-color: var(--color-bg-alt) !important; }
    .diffstat-block-neutral {
      background-color: var(--color-bg-alt) !important;
      outline: 1px solid var(--color-bg-alt) !important;
    }
    .pr-toolbar.is-stuck { background-color: var(--color-bg) !important; }
    .file-diff-split .empty-cell {
      background-color: var(--color-bg) !important;
      border-right-color: var(--color-bg-alt) !important;
    }
    .notifications-list-item.notification-archived,
    .notifications-list-item.notification-read {
      background-color: var(--color-bg) !important;
    }
    .filter-item.selected, .filter-item[aria-selected="true"],
    .filter-item:hover, .filter-item[aria-current]:not([aria-current="false"]) {
      background-color: var(--color-fg) !important;
      color: var(--color-bg) !important;
    }
    .rule, hr { border-bottom: 1px solid var(--color-fg) !important; }
    .notifications-list-item:hover { box-shadow: 2px 0 0 var(--color-fg) inset !important; }
    .notifications-list-item:hover .AvatarStack-body { background: none !important; }
    .notifications-list-item .notification-list-item-link { color: var(--color-fg) !important; }
    .filter-item { color: var(--color-fg) !important; }
    .flash-banner, .flash-full { background-color: var(--color-primary) !important; }
    .flash { background-image: none !important; }
    .comment-body a { color: var(--color-fg) !important; }
    .Link--secondary, .link-gray { color: var(--color-fg) !important; }
    .text-gray-light { color: var(--color-fg) !important; }
    details summary.text-gray { color: var(--color-fg) !important; }
    .js-comment-edit-history-menu .dropdown-item { color: var(--color-fg) !important; }
    .js-comment-edit-history-menu .dropdown-item:hover { color: var(--color-bg) !important; }
    .select-menu-merge-method .select-menu-item:hover,
    .select-menu-merge-method .select-menu-item:hover .octicon,
    .select-menu-merge-method .select-menu-item:hover .select-menu-item-text {
      color: var(--color-bg) !important;
      background-color: var(--color-fg) !important;
    }
    .select-menu-item.selected, details-menu .select-menu-item[aria-checked="true"],
    details-menu .select-menu-item[aria-selected="true"] { color: var(--color-fg) !important; }
    .select-menu-merge-method .select-menu-item:hover .description { color: var(--color-bg) !important; }
    .tabnav-tab.selected, .tabnav-tab[aria-current]:not([aria-current="false"]),
    .tabnav-tab[aria-selected="true"] { border-color: var(--color-bg-alt) !important; }
    .blob-code-inner { color: var(--color-fg) !important; }
    .markdown-body table tr {
      background-color: var(--color-bg) !important;
      border-top: none !important;
    }
    .markdown-body table td, .markdown-body table th {
      border: 1px solid var(--color-bg-alt) !important;
    }
    /* home page */
    .color-bg-canvas-inset { background-color: var(--color-bg) !important; }
    .ajax-pagination-form .ajax-pagination-btn {
      color: var(--color-fg) !important;
      background-color: var(--color-bg-alt) !important;
      border: 1px solid var(--color-bg-alt) !important;
    }
    /* feature preview */
    .bg-blue { background-color: var(--color-primary) !important; }
    .btn-octicon:hover { color: var(--color-primary) !important; }
    /* settings */
    .Subhead { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .label, .Label { border-color: var(--color-bg-alt) !important; }
    .color-bg-primary { background-color: var(--color-bg) !important; }
    .menu {
      background-color: var(--color-bg) !important;
      border: 1px solid var(--color-bg-alt) !important;
    }
    .menu-heading { color: var(--color-fg) !important; }
    .menu-heading, .menu-item { border-bottom: 1px solid var(--color-bg-alt) !important; }
    .menu-item:focus, .menu-item:hover { background-color: var(--color-bg) !important; }
    .menu-item.selected::before, .menu-item[aria-current]:not([aria-current="false"])::before,
    .menu-item[aria-selected="true"]::before {
      background-color: var(--color-primary) !important;
    }
    .user-key-badge { border: 1px solid var(--color-bg-alt) !important; }
    .bg-gray { background-color: var(--color-bg-alt) !important; }
    .Box-footer { border-top: 1px solid var(--color-bg-alt) !important; }
    .previewable-comment-form .comment-form-head.tabnav {
      background: var(--color-bg-alt) !important;
    }
    .saved-reply-form { border: 1px solid var(--color-bg-alt) !important; }
    /* login and password */
    .session-authentication .auth-form-body {
      border-top: 1px solid var(--color-bg-alt) !important;
    }
    .auth-form-body {
      background-color: var(--color-bg) !important;
      border: 1px solid var(--color-bg-alt) !important;
    }
    .oauth-border { border-top: 1px solid var(--color-bg-alt) !important; }
    .session-authentication .auth-form-header { color: var(--color-fg) !important; }
    .pagehead-actions > li { color: var(--color-fg) !important; }
    .UnderlineNav .Counter {
      color: var(--color-primary) !important;
    }
    .SideNav-item[aria-current]:not([aria-current="false"]),
    .SideNav-item[aria-selected="true"], .SideNav,
    .SideNav-item:focus, .SideNav-item:hover {
      background-color: var(--color-bg) !important;
    }
    .SideNav-item[aria-current]:not([aria-current="false"])::before,
    .SideNav-item[aria-selected="true"]::before {
      background-color: var(--color-primary) !important;
    }
    .SideNav-item { border-top: 1px solid var(--color-bg-alt) !important; }
    .SideNav.border { border: 1px solid var(--color-bg-alt) !important; }
    .color-text-primary, .flash {
      color: var(--color-primary) !important;
    }
    .flash.flash-warn { color: var(--color-bg) !important; }
    .flash.flash-warn a { color: var(--color-bg) !important; }
    .flash.flash-warn .octicon { color: var(--color-bg) !important; }
    .SelectMenu-item[aria-checked="true"], .SelectMenu-item {
      color: var(--color-fg) !important;
    }
    .Header-old { background-color: var(--color-bg) !important; }
}

/**
 * ------------------------------------------------
 * archlinux/AUR
 * ------------------------------------------------
 */

@-moz-document domain(archlinux.org) {
    body {
        background-color: var(--color-bg) !important;
        color: var(--color-fg) !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: var(--color-fg) !important;
    }
    #archnavbar {
        background: var(--color-bg) !important;
        border-bottom: 1px solid var(--color-bg-alt) !important;
    }
    .box {
        background: var(--color-bg) !important;
        border: 1px solid var(--color-bg-alt) !important;
    }
    .results th { background-color: var(--color-bg) !important; }
    .results tr:nth-child(2n+1) { background: var(--color-bg) !important; }
    .results tr:nth-child(2n) { background: var(--color-bg-alt) !important; }
    a { color: var(--color-primary) !important; }
    #news h3 a { color: var(--color-fg) !important; }
    #pkgsearch {
        background: var(--color-primary) !important;
        border: none !important;
    }
    #mw-panel .portal h3 { color: var(--color-fg) !important; }
    #toc {
        background-color: var(--color-bg-alt) !important;
        border: none !important;
    }
    .tocnumber { color: var(--color-fg) !important; }
    .toctogglelabel { color: var(--color-fg) !important; }
    .archwiki-template-meta-related-articles-start > p {
        background: var(--color-bg-alt) !important;
        color: var(--color-fg) !important;
        border-bottom: none !important;
    }
    li.selected {
        background-color: var(--color-bg-alt) !important;
        border: none !important;
    }
    code, pre {
        background: var(--color-bg-alt) !important;
        color: var(--color-fg) !important;
    }
    pre { border: none !important; }
    #content {
        background: var(--color-bg) !important;
        color: var(--color-fg) !important;
    }
    #content table, #content h1, #content h2, #content h3, #content h4, #content h5, #content pre, #content code, #content tt {
        color: var(--color-fg) !important;
    }
    .wikitable,
    .wikitable > tr > th,
    .wikitable > * > tr > th {
        background-color: var(--color-bg-alt) !important;
    }
    td { border: 1px solid var(--color-bg); }
    .archwiki-template-box-warning {
        background-color: var(--color-warning) !important;
        border-color: var(--color-warning) !important;
    }
    .archwiki-template-box-warning a { color: var(--color-fg) !important; }
    .archwiki-template-message,
    .archwiki-template-box-note,
    .archwiki-template-box-tip {
        background: var(--color-bg-alt) !important;
        border-color: var(--color-bg-alt) !important;
    }
    .catlinks {
       background-color: var(--color-bg-alt) !important;
       border-color: var(--color-bg-alt) !important;
    }
}

/**
 * ------------------------------------------------
 * Mastodon
 * ------------------------------------------------
 */

@-moz-document domain(mas.to) {
  .compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input,
  .compose-form .compose-form__modifiers {
    color: #fff !important;
    background: #444b5d !important;
  }
  .compose-form .compose-form__buttons-wrapper {
    color: #fff !important;
    background: #282c37 !important;
  }
}

/**
 * ------------------------------------------------
 * Various
 * ------------------------------------------------
 */

@-moz-document domain(arccompute.com) {
  .tl_article .tl_article_content,
  .tl_article .tl_article_content .ql-editor,
  .tl_article .tl_article_header {
    color: var(--color-fg) !important;
  }
}

@-moz-document domain(unix.com) {
  body {
    background: var(--color-bg) !important;
    color: var(--color-fg) !important;
  }
  .page {
    background: var(--color-bg) !important;
    color: var(--color-fg) !important;
  }
  pre {
    color: var(--color-fg) !important;
    margin: 0;
  }
  .neo-man-caps, .neo-man-header {
    color: var(--color-primary) !important;
  }
  /* hide all junk */
  form,
  #main-navbar,
  #neo_navbar_divs_center_menu_bar,
  .neo-table-border,
  .man-h1-wrap,
  .flex-posts-ads,
  .man-h1-article,
  footer
  { display: none !important; }
}

