$ext-black: #323232;
$ext-dark-grey: #5a5e66;
$ext-grey: #878c99;
$ext-light-grey: #bcc1cc;
$ext-primary-700: #134dcd;
$ext-primary-400: #1a7bf9;
$ext-secondary-blue: #e6f1ff;
$ext-light-blue: #ddebfd;
$ext-dark-black: #292929;
$ext-error: #ef6262;
$ext-light-error: #fdf0f0;
$ext-cell-height: 40px;
$ext-hover-color: #f8f8f8;
$ext-divider-color: #E3E3E3;

/* dark */
$ext-dark-white: rgba(247, 248, 248, 0.9);
$ext-grey-dark: #8A8E98;
$ext-dark-grey-dark: #2E2F33;
$ext-black-dark: #1F2023;
$ext-primary-700-dark: #0F58FA;
$ext-shadow-dark: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 12px 40px rgba(0, 0, 0, 0.3);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  padding: 0;
}

body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif, -apple-system, BlinkMacSystemFont;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}
.text-grey {
  color: $ext-dark-grey;
}
.ext-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  background-color: transparent;

  &:disabled,
  &[disabled] {
    color: $ext-light-grey !important;
    svg {
      fill: $ext-light-grey !important;
    }
  }
}
.ext-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.ext-icon-button {
  @extend .ext-button;

  padding: 0;
  min-width: 0;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  line-height: 20px;
  border-radius: 50%;

  img,
  svg {
    width: 20px;
    height: 20px;
  }
}
.ext-icon-button-xs {
  @extend .ext-icon-button;

  padding: 0;
  min-width: 0;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  line-height: 12px;
  border-radius: 50%;

  img,
  svg {
    width: 12px;
    height: 12px;
  }
}
.ext-icon-button-sm {
  @extend .ext-icon-button;

  padding: 0;
  min-width: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  line-height: 16px;
  border-radius: 50%;

  img,
  svg {
    width: 16px;
    height: 16px;
  }
}
.ext-icon-button-md {
  @extend .ext-icon-button;

  padding: 0;
  min-width: 0;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  line-height: 32px;
  border-radius: 50%;

  img,
  svg {
    width: 32px;
    height: 32px;
  }
}
.ext-icon-button-lg {
  @extend .ext-icon-button;

  flex-shrink: 0;
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;

  img,
  svg {
    width: 40px;
    height: 40px;
  }
}
.ext-icon-button:hover {
  background-color: transparent;
  color: $ext-black;
  svg {
    fill: $ext-black !important;
  }
}

.ext-link-button {
  @extend .ext-button;

  color: $ext-primary-700;
  padding: 0;
  line-height: 1;
}
.ext-outline-button {
  @extend .ext-button;

  color: $ext-primary-700;
  border: 1px solid $ext-primary-700;
}
.ext-primary-button {
  @extend .ext-button;

  background-color: $ext-primary-700;
  color: white;

  svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
}
.ext-primary-button:hover {
  background-color: #0a2d77;
  color: $ext-light-blue;
  svg {
    fill: $ext-light-blue;
  }
}
.ext-link-button:hover {
  background-color: transparent;
  text-decoration: underline;
}
.ext-outline-button:hover {
  color: #0a2d77;
  border: 1px solid #0a2d77;
}

.irs--round {
  height: 24px;
  position: relative;

  .irs {
    height: 24px;
  }

  .irs-line {
    top: 0;
    height: 24px;
    background: transparent;
    cursor: pointer;

    &:after {
      width: 100%;
      left: 0;
      top: 10px;
      height: 4px;
      background-color: $ext-light-blue;
      border-radius: 4px;
      position: absolute;
      display: block;
      overflow: hidden;
      outline: none !important;
      content: "";
    }
  }
  .irs-bar {
    top: 0;
    height: 24px;
    background: transparent;
    cursor: pointer;

    &:after {
      width: 100%;
      left: 0;
      top: 10px;
      height: 4px;
      background-color: $ext-primary-700;
      border-radius: 4px;
      position: absolute;
      display: block;
      overflow: hidden;
      outline: none !important;
      content: "";
    }
  }
  .irs-handle {
    top: 6px;
    width: 12px;
    height: 12px;
    background-color: $ext-primary-700;
    border-radius: 6px;
    border: none;
    box-shadow: none;

    &.state_hover,
    &:hover {
      background-color: #29b6f6;
    }
  }
  .irs-single {
    display: none;
  }
}

.nr-ext-progress-cell {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  .nr-ext-progress-bar {
    width: 160px;
    padding: 0 9px;
  }
  .nr-ext-progress-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg.icon-light {
      width: 20px;
      height: 20px;
      fill: $ext-light-grey;
    }
    .nr-ext-progress-text {
      width: 30px;
      text-align: center;
    }
    .irs--round {
      .irs-line {
        &:after {
          top: 11px;
          height: 2px;
          border-radius: 2px;
        }
      }
      .irs-bar {
        &:after {
          top: 11px;
          height: 2px;
          border-radius: 2px;
        }
      }
    }
  }
}

.ext-toggle {
  .icon {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: transparent;
  }

  &[toggle-status="off"] {
    .icon.icon-toggle-off {
      display: block;
    }
    .icon.icon-toggle-on {
      display: none;
    }
  }

  &[toggle-status="on"] {
    .icon.icon-toggle-off {
      display: none;
    }
    .icon.icon-toggle-on {
      display: block;
    }
  }
}

.ext-radio {
  width: 24px;
  height: 24px;

  .nr-ext-radio {
    display: none;
  }

  .nr-ext-radio-label {
    cursor: pointer;
    margin-bottom: 0 !important;

    .icon {
      width: 24px;
      height: 24px;
    }
    .icon.icon-radio-off {
      display: block;
    }
    .icon.icon-radio-on {
      display: none;
    }
  }

  .nr-ext-check:checked ~ .nr-ext-check-label {
    .icon.icon-toggle-off {
      display: none;
    }
    .icon.icon-toggle-on {
      display: block;
    }
  }
}

.dropdown {
  padding-top: 8px;
  height: 93px;
  color: $ext-dark-grey;

  &.dropdown-md {
    height: 141px;
  }

  .dropdown-toggle {
    line-height: 40px;
    width: 100%;
    margin: 8px 0;
    border: 1px solid $ext-light-grey;
    color: $ext-dark-grey;

    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      color: $ext-dark-grey;
    }

    & > svg {
      fill: $ext-primary-700;
      width: 24px;
      height: 24px;
    }
    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    width: 100%;
    overflow-y: auto;

    &#nr-ext-menu-rs-char-limit,
    &.nr-ext-preset-voice-list {
      height: 250px;
    }

    .dropdown-item,
    .nr-ext-selectable {
      color: $ext-dark-grey;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: #ffffff;
        background-color: $ext-primary-400;
      }
      &.selected {
        color: #ffffff;
        background-color: $ext-primary-700;
      }
    }
  }
  .nr-text-light {
    color: $ext-grey;
  }
}

.nr-ext-voice-list-mapper {
  display: none;
}

.nr-ext-container {
  color: $ext-black;

  .nr-ext-progress-container {
    width: 100%;
    height: 24px;
    padding: 0 8px;
    margin-bottom: 5px;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nr-ext-progress-bar {
      width: calc(100% - 140px);
      display: block;
    }
    .nr-ext-progress-label {
      display: block;
      min-width: 60px;
      max-width: 130px;
      font-size: 12px;
      text-align: right;
    }
  }

  .nr-ext-main-container {
    position: relative;
    border-radius: 8px 8px 0 0;

    .nr-ext-left-content {
      svg {
        fill: $ext-grey;
      }
    }
    .nr-ext-main-content {
      height: 100%;
      svg {
        fill: $ext-light-grey;
      }
    }
    .nr-ext-right-content {
      svg {
        fill: $ext-grey;
      }
    }
    #btn_settings {
      position: absolute;
      bottom: 6px;
      right: 6px;

      svg {
        fill: $ext-light-grey;
      }
    }
  }

  .nr-ext-menu {
    width: 100%;
    background: #ffffff;
    color: $ext-black;
    border-radius: 0px 0px 8px 8px;
    // box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.08), 0px 8px 20px rgba(0, 0, 0, 0.08);
  }

  .nr-ext-profile-container {
    display: none;

    width: 320px;
    background: #ffffff;
    color: $ext-black;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08), 0px 8px 20px rgba(0, 0, 0, 0.08);

    .nr-ext-profile-header {
      width: 100%;
      height: 40px;
      padding: 0 16px;

      text-align: center;
      font-weight: bold;
      font-size: 15px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      div:last-of-type {
        width: 24px;
      }

      #logoutBtn {
        display: none;
      }
    }

    .profile-cell {
      width: 100%;
      height: 40px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 20px;
      color: $ext-dark-grey;

      &:not(.ext-button) {
        padding: 0 16px;
      }

      svg {
        fill: $ext-grey;
      }
      & > svg {
        width: 24px;
        height: 24px;
      }
      .ext-toggle .icon {
        width: 40px;
        height: 40px;
      }
    }
    .nr-ext-profile-account {
      .nr-ext-account-other {
        padding-bottom: 8px;
        .profile-cell {
          &:nth-child(1) {
            height: 56px;
          }
        }
      }
    }

    .nr-ext-profile-preference,
    .nr-ext-profile-voice {
      display: none;
    }

    &[profile-status="init"] {
      .nr-ext-account-init {
        text-align: center;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .init-title {
          font-size: 15px;
          color: $ext-black;
        }
        .init-subTitle {
          width: 200px;
          font-size: 15px;
          line-height: 22px;
          color: $ext-dark-grey;
        }

        .row-login {
          display: flex;
          justify-content: center;
          padding: 16px 0;

          .ext-primary-button {
            margin-right: 16px;
          }
        }
      }
      .nr-ext-account-login {
        display: none;
      }
    }
    &[profile-status="login"] {
      .nr-ext-profile-header {
        #logoutBtn {
          display: block;
        }
      }
      .nr-ext-account-init {
        display: none;
      }
      .nr-ext-account-login {
        padding: 20px;
        height: 200px;

        .nr-ext-account-detail {
          background: #f8f8f8;
          border-radius: 4px;
          padding: 16px 0;

          .nr-ext-account-info {
            width: 100%;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            align-items: center;

            #userEmail {
              width: 100%;
              text-align: center;
              font-weight: 700;
              font-size: 13px;
              line-height: 20px;

              word-wrap: break-word;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            #userLicType {
              font-size: 12px;
              line-height: 20px;
              width: 100%;
              text-align: center;
            }
            .icon-lg {
              width: 40px;
              height: 40px;
              fill: $ext-grey;
            }
            .ext-icon-button-sm {
              fill: $ext-grey;
            }
          }

          .nr-ext-account-plan {
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
    &[profile-status="preferences"] {
      .nr-ext-profile-account {
        display: none;
      }
      .nr-ext-profile-preference {
        display: block;
        padding-bottom: 8px;
      }
    }
    &[profile-status="voices"] {
      .nr-ext-profile-account {
        display: none;
      }
      .nr-ext-profile-voice {
        display: block;
        padding: 16px;
        color: $ext-dark-grey;

        .nr-ext-profile-header {
          padding: 0;
        }

        .tips {
          text-align: center;
          padding-top: 2rem;
          padding-bottom: 1rem;
          height: 160px;
        }
        .dropdown {
          .nr-ext-preset-voice-list .nr-ext-voice-cell .preset-voice {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            padding: 0 20px;
            margin: 0;
            line-height: 38px;
            font-size: 13px;
          }
        }
      }
    }
  }

  .nr-ext-launch {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 0 0 8px 8px;
    display: none;
    color: $ext-black;

    .nr-ext-launch-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 15px;
      font-weight: 700;
    }
    .nr-ext-launch-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ext-link-button {
        margin-right: 1rem;
      }
    }
    .nr-ext-launch-content {
      font-size: 13px;
      padding: 16px 0;
      svg.icon {
        width: 24px;
        height: 24px;
      }
    }
    & > div {
      display: none;
    }
    &[launch-status="init"]{
      .nr-ext-launch-init {
        display: block;
        height: 152px;
      }
    }
    &[launch-status="feature"]{
      .nr-ext-launch-feature {
        display: block;
        height: 301px;
        .nr-ext-launch-header {
          align-items: flex-start;
          margin-right: -8px;
          .icon {
            width: 164px;
            height: 32px;
            margin-top: -10px;
          }
        }
        .nr-ext-launch-menu-header {
          height: 80px;
          margin: 0 -19px;
          border-bottom: 1px solid $ext-divider-color;
          display: flex;
          justify-content: center;

          .nr-ext-launch-menu-bar {
            width: 240px;
            height: 40px;
            padding: 10px;
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
            border-radius: 8px;

            svg.icon {
              width: 20px;
              height: 20px;
              fill: $ext-light-grey;
            }
          }
        }
        .nr-ext-launch-menu-info {
          width: 100%;
          padding-top: 16px;
          .nr-ext-launch-menu-item {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 20px;

            svg.icon {
              width: 16px;
              height: 16px;
              fill: $ext-light-grey;
              margin-right: 10px;
            }

          }
        }
      }
    }
    &[launch-status="pin"]{
      .nr-ext-launch-pin {
        display: block;
        
        .nr-ext-launch-pin-header {
          height: 72px;
          margin: 0 -19px 16px;
          border-bottom: 1px solid $ext-divider-color;
          display: flex;
          justify-content: center;

          .nr-ext-launch-pin-bar {
            width: 294px;
            height: 72px;
            background: url(chrome-extension://__MSG_@@extension_id__/assets/img/pin.png) center no-repeat;
            background-size: 294px 72px;
          }
        }

        .nr-ext-launch-pin-info {
          line-height: 18px;

          svg.icon {
            width: 16px;
            height: 16px;
            fill: $ext-grey;
          }
        }
      }
    }
  }
}

.btn-relocate{
  display: none;
}
.nr-ext-container[data-launch="true"][data-size="max"] {
  .nr-ext-main-container {
    border-radius: 8px 8px 0 0;
  }
  .nr-ext-launch {
    display: block;
  }
}

.nr-ext-container[data-size="min"] {
  .nr-ext-progress-container,
  .nr-ext-menu,
  .nr-ext-main-container #btn_settings {
    display: none;
  }

  .nr-ext-main-container {
    width: 104px;
    height: 56px;

    border-radius: 8px;
    background-color: white;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;

    .nr-ext-left-content {
      display: none;
    }
    .nr-ext-main-content {
      .ext-icon-button-md,
      #btn_stop,
      .btn-relocate {
        display: none;
      }
      .btn-relocate {
        position: fixed;
        top: 30px;
        right: 3px;
      }
    }
    .nr-ext-right-content {
      #btn_min {
        display: none;
      }
      #btn_exit {
        margin-left: 4px;
      }
    }
  }
}

.nr-ext-container[data-size="max"] {
  width: 320px;

  .nr-ext-main-container {
    width: 100%;
    height: 60px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 8px;

    display: flex;
    justify-content: space-between;

    .nr-ext-left-content {
      width: 40px;

      svg {
        fill: $ext-grey;
      }
    }
    .nr-ext-main-content {
      flex-grow: 1;
      justify-content: center;
      display: flex;
      align-items: center;

      .nr-ext-main-btn {
        width: 28px;
      }

      button {
        margin: 0 4px;
      }

      svg {
        fill: $ext-light-grey;
      }
    }
    .nr-ext-right-content {
      width: 40px;
      display: flex;
      justify-content: flex-end;

      svg {
        fill: $ext-grey;
      }
      #btn_max {
        display: none;
      }
      #btn_exit {
        margin-left: 6px;
      }
    }
  }
}

[data-play="init"] {
  &[data-size="max"] {
    .nr-ext-progress-container {
      display: none;
    }
  }

  .nr-ext-main-container {
    .nr-ext-main-content {
      #btn_stop,
      .btn-relocate,
      .icon-pause {
        display: none;
      }
      .icon-play {
        display: block;
      }
    }
  }
}

[data-play="play"] {
  &[data-size="max"] {
    .nr-ext-main-container {
      margin-top: 0;
    }
  }
  .nr-ext-main-container {
    .nr-ext-main-content {
      #btn_stop,
      .icon-play {
        display: none;
      }
      .icon-pause {
        display: block;
      }
    }
  }
}

[data-play="pause"] {
  &[data-size="max"] {
    .nr-ext-main-container {
      margin-top: 0;
    }
  }
  .nr-ext-main-container {
    .nr-ext-main-content {
      .icon-play {
        display: block;
      }
      .icon-pause {
        display: none;
      }
    }
  }
}

.nr-ext-menu-header {
  padding: 0 16px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;

  .ext-icon-button {
    width: 25%;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: $ext-light-grey;

    svg {
      fill: $ext-light-grey;
    }

    & > span {
      width: 100%;
      height: 13px;
      &:hover {
        color: $ext-black;
      }
    }

    & > span > span {
      display: none;
    }
  }
}
.nr-ext-menu-content {
  .nr-menu-top {
    width: 100%;
    height: 40px;
    padding: 0 4px;

    color: $ext-black;

    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child {
      width: 24px;
    }

    svg {
      fill: $ext-grey;
    }
  }
}

.nr-ext-menu-upload {
  display: none;
  padding: 0 16px;

  .nr-ext-upload-content {
    padding: 20px 4px;

    & > div {
      display: none;
      border: 1px dashed $ext-light-grey;
      border-radius: 8px;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;
      line-height: 20px;
      font-weight: 400;
      height: 200px;
    }
  }

  &[upload-status="init"] {
    .nr-upload-init {
      display: flex;

      .ext-icon-button-sm {
        svg {
          fill: $ext-black;
        }
      }
    }
  }
  &[upload-status="loading"] {
    .nr-upload-loading {
      display: flex;

      .loading {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid $ext-primary-700;
      }
    }
  }
  &[upload-status="finish"] {
    .nr-upload-finish {
      display: flex;

      button {
        display: block;
      }
    }
  }
  &[upload-status="error"] {
    .nr-upload-error {
      display: flex;
      button {
        display: block;
      }
      svg.icon {
        width: 20px;
        height: 20px;
      }
      p {
        max-width: calc(100% - 28px);
        text-align: left;
        margin-left: 6px;
      }
    }
  }
}
.nr-ext-menu-mobile {
  display: none;
  padding: 0 16px;

  .nr-ext-mobile-content {
    padding: 16px 4px;

    & > div {
      display: none;
      background: $ext-secondary-blue;
      border-radius: 8px;

      // padding: 44px 40px;
      text-align: center;
      line-height: 20px;
      font-weight: 400;
      height: 200px;

      // display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.nr-mobile-footer {
        display: block;
        text-align: left;
        background-color: transparent;
        height: 60px;
        padding: 16px 0 0 0;
        color: #5a5e66;

        & > div:last-child .ext-icon-button-lg {
          border: 1px solid #e6f1ff;
          margin-left: 16px;
        }

        & > div:last-child .ext-icon-button-lg svg {
          width: 24px;
          height: 24px;
          fill: #878c99;
        }
      }
    }
  }

  &[mobile-status="init"] {
    .nr-mobile-init {
      display: flex;
    }
  }
  &[mobile-status="save"] {
    .nr-mobile-save {
      display: flex;
    }
  }
  &[mobile-status="loading"] {
    .nr-mobile-loading {
      display: flex;

      .loading {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid $ext-primary-700;
      }
    }
  }
  &[mobile-status="finish"] {
    .nr-mobile-finish {
      display: flex;

      svg.icon {
        width: 40px;
        height: 40px;
      }
    }
  }
  &[mobile-status="error"] {
    .nr-mobile-error {
      display: flex;
      padding: 0 16px;
      background-color: $ext-light-error;
      button {
        display: block;
      }
      svg.icon {
        width: 20px;
        height: 20px;
      }
      p {
        max-width: calc(100% - 28px);
        text-align: left;
        margin-left: 6px;
      }
    }
  }
}
.nr-ext-menu-voice {
  display: none;

  .nr-ext-voice-content {
    color: $ext-dark-grey;

    .nr-ext-voice-settings {
      padding: 0 16px;
      .nr-ext-voice-cell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        .nr-ext-progress-bar {
          width: 160px;
          padding: 0 9px;
        }
        .nr-ext-voice-cell-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;

          svg.icon-light {
            width: 24px;
            height: 24px;
            fill: $ext-light-grey;
          }

          .ext-icon-button-xs {
            margin-left: 8px;
          }
        }
      }
    }

    .nr-ext-voice-list {
      .nr-ext-voice-list-header {
        height: 40px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $ext-divider-color;

        .ext-button {
          font-size: 13px;
          width: 33%;
          text-transform: uppercase;
          color: $ext-grey;
          border-radius: 0;
        }
      }

      .nr-ext-voice-list-content {
        height: 256px;
        overflow-y: auto;
        .nr-ext-voice-cell {
          height: 40px;
          padding: 0 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .voice-detail {
            margin-bottom: 0 !important;
            display: flex;
            align-items: center;
            width: calc(100% - 44px);
            cursor: pointer;
            line-height: 40px;

            .flag {
              width: 24px;
              height: 24px;
            }
            .voice {
              text-transform: capitalize;
              padding: 0 8px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
          }
          .ext-icon-button {
            display: none;
          }

          &:hover {
            background: #f8f8f8;

            .ext-icon-button {
              display: inline-block;
            }
          }
        }
      }

      &[voice-type="free"] {
        .nr-ext-voice-list-header {
          .ext-button#nr-ext-voice-free {
            color: $ext-primary-400;
            border-bottom: 2px solid $ext-primary-400;
            font-weight: 700;
          }
        }
      }
      &[voice-type="prem"] {
        .nr-ext-voice-list-header {
          .ext-button#nr-ext-voice-prem {
            color: $ext-primary-400;
            border-bottom: 2px solid $ext-primary-400;
            font-weight: 700;
          }
        }
      }
      &[voice-type="plus"] {
        .nr-ext-voice-list-header {
          .ext-button#nr-ext-voice-plus {
            color: $ext-primary-400;
            border-bottom: 2px solid $ext-primary-400;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.nr-ext-menu-settings {
  display: none;
  padding-bottom: 8px;

  .nr-ext-settings-header.nr-menu-top {
    padding: 0 16px;
  }
  .nr-ext-settings-content {
    .btn-cell {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $ext-dark-grey;

      .icon {
        width: 24px;
        height: 24px;
        fill: $ext-dark-grey;
      }
    }

    .nr-ext-settings-cell {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 16px;
      color: $ext-dark-grey;

      .nr-ext-settings-cell-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ext-icon-button-xs {
          margin-left: 8px;
          svg {
            fill: $ext-dark-grey;
          }
        }
        & > svg {
          fill: $ext-dark-grey;
        }
      }
      .ext-icon-button > svg {
        fill: $ext-dark-grey;
      }
    }

    .nr-ext-settings-highlight {
      padding: 0 16px;
    }
    .nr-ext-settings-read-selection {
      padding: 0 16px;
      .nr-ext-settings-cell {
        padding: 0;
      }
    }
  }

  &[settings-status="init"] {
    .nr-ext-settings-header {
      display: none;
    }
    .nr-ext-settings-highlight,
    .nr-ext-settings-read-selection,
    .nr-ext-settings-cc {
      display: none;
    }
  }

  &[settings-status="highlight"] {
    .nr-ext-settings-init,
    .nr-ext-settings-read-selection,
    .nr-ext-settings-cc {
      display: none;
    }
  }
  &[settings-status="read"] {
    .nr-ext-settings-init,
    .nr-ext-settings-highlight,
    .nr-ext-settings-cc {
      display: none;
    }
  }
  &[settings-status="cc"] {
    .nr-ext-settings-init,
    .nr-ext-settings-highlight,
    .nr-ext-settings-read-selection {
      display: none;
    }
  }
}
[menu-status="init"] {
  .nr-ext-main-container {
    border-radius: 8px;
  }
  .nr-ext-menu-header {
    .ext-icon-button {
      & > span {
        display: none;
      }
    }
  }
}
[menu-status="upload"] {
  .nr-ext-menu-header {
    svg.icon-upload {
      fill: $ext-primary-700 !important;
      & ~ span {
        & > span {
          display: block;
          color: $ext-primary-700;
        }
      }
    }
  }
  .nr-ext-menu-upload {
    display: block;
  }
}
[menu-status="mobile"] {
  .nr-ext-menu-header {
    svg.icon-mobile {
      fill: $ext-primary-700 !important;
      & ~ span {
        & > span {
          display: block;
          color: $ext-primary-700;
        }
      }
    }
  }
  .nr-ext-menu-mobile {
    display: block;
  }
}
[menu-status="voice"] {
  .nr-ext-menu-header {
    svg.icon-voice {
      fill: $ext-primary-700 !important;
      & ~ span {
        & > span {
          display: block;
          color: $ext-primary-700;
        }
      }
    }
  }
  .nr-ext-menu-voice {
    display: block;
  }
}
[menu-status="settings"] {
  .nr-ext-menu-header {
    svg.icon-settings {
      fill: $ext-primary-700 !important;
      & ~ span {
        & > span {
          display: block;
          color: $ext-primary-700;
        }
      }
    }
  }
  .nr-ext-menu-settings {
    display: block;
  }
}

.nr-ext-container[data-size="profile"] {
  width: 320px;

  .nr-ext-progress-container {
    display: none;
  }

  .nr-ext-main-container {
    display: none;
  }

  .nr-ext-menu {
    display: none;
  }
  .nr-ext-profile-container {
    display: block;
  }
}

[data-theme="dark"] {
  background: transparent;
  color: $ext-grey;

  .text-grey {
    color: $ext-dark-white;
  }
  .ext-button {
  
    &:disabled,
    &[disabled] {
      color: $ext-dark-grey !important;
      svg {
        fill: $ext-dark-grey !important;
      }
    }
  }
  .ext-button:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
  .ext-icon-button:hover {
    background-color: transparent;
    color: $ext-hover-color;
    svg {
      fill: $ext-hover-color !important;
    }
  }
  .ext-link-button {
    @extend .ext-button;
  
    color: $ext-primary-700-dark;
  }
  .ext-outline-button {
    @extend .ext-button;
  
    color: $ext-primary-700-dark;
    border: 1px solid $ext-primary-700-dark;
  }
  .ext-primary-button {
    @extend .ext-button;
  
    background-color: $ext-primary-700-dark;
    color: white;
  
    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }
  .ext-primary-button:hover {
    background-color: #0a2d77;
    color: $ext-light-blue;
    svg {
      fill: $ext-light-blue;
    }
  }
  .ext-outline-button:hover {
    color: $ext-primary-400;
    border: 1px solid $ext-primary-400;
  }
  
  .irs--round {
    .irs {
    }
    .irs-line {
      &:after {
        background-color: $ext-grey-dark;
      }
    }
    .irs-bar {
  
      &:after {
        background-color: $ext-primary-700-dark;
      }
    }
    .irs-handle {
      background-color: $ext-primary-700-dark;
  
      &.state_hover,
      &:hover {
        background-color: $ext-primary-400;
      }
    }
    .irs-single {
      display: none;
    }
  }

  .dropdown {
    padding-top: 8px;
    height: 93px;
    color: $ext-dark-white;

    &.dropdown-md {
      height: 141px;
    }

    .dropdown-toggle {
      line-height: 40px;
      width: 100%;
      margin: 8px 0;
      border: 1px solid $ext-dark-grey;
      color: $ext-dark-white;

      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div {
        color: $ext-dark-white;
      }

      & > svg {
        fill: $ext-primary-700-dark;
        width: 24px;
        height: 24px;
      }
      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      width: 100%;
      overflow-y: auto;
      background: $ext-black-dark;
      border: 1px solid $ext-dark-grey;

      &#nr-ext-menu-rs-char-limit,
      &.nr-ext-preset-voice-list {
        height: 250px;
      }

      .dropdown-item,
      .nr-ext-selectable {
        background: $ext-black-dark;
        color: $ext-dark-white;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          color: $ext-light-blue;
          background-color: $ext-dark-grey-dark;
        }
        &.selected {
          color: $ext-dark-white;
          background-color: $ext-dark-grey-dark;
        }
      }
    }
  }

  .nr-ext-voice-list-mapper {
    display: none;
  }

  .nr-ext-container {
    color: $ext-dark-white;

    .nr-ext-progress-container {
      width: 100%;
      height: 24px;
      padding: 0 8px;
      margin-bottom: 5px;
      background: $ext-black-dark;
      box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.08);
      border-radius: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nr-ext-progress-bar {
        width: calc(100% - 140px);
        display: block;
      }
      .nr-ext-progress-label {
        display: block;
        min-width: 60px;
        max-width: 130px;
        font-size: 12px;
        text-align: right;
        color: $ext-dark-white;
      }
    }

    .nr-ext-main-container {
      position: relative;
      border-radius: 8px 8px 0 0;

      .nr-ext-left-content {
        svg {
          fill: $ext-grey;
        }
      }
      .nr-ext-main-content {
        height: 100%;
        svg {
          fill: $ext-light-grey;
        }
      }
      .nr-ext-right-content {
        svg {
          fill: $ext-grey;
        }
      }
      #btn_settings {
        position: absolute;
        bottom: 6px;
        right: 6px;

        svg {
          fill: $ext-grey;
        }
      }
    }

    .nr-ext-menu {
      width: 100%;
      background: $ext-black-dark;
      color: $ext-dark-white;
      border-radius: 0px 0px 8px 8px;
    }

    .nr-ext-profile-container {
      display: none;

      width: 320px;
      background: $ext-black-dark;
      color: $ext-dark-white;
      border-radius: 8px;
      box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.08);

      .nr-ext-profile-header {
        width: 100%;
        height: 40px;
        padding: 0 16px;
        color: $ext-dark-white;

        text-align: center;
        font-weight: bold;
        font-size: 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        div:last-of-type {
          width: 24px;
        }

        #logoutBtn {
          display: none;
        }

        .ext-icon-button {
          svg {
            fill: $ext-grey;
          }
        }
      }

      .profile-cell {
        width: 100%;
        height: 40px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 20px;
        color: $ext-dark-white;

        &:not(.ext-button) {
          padding: 0 16px;
        }

        svg {
          fill: $ext-grey;
        }
        & > svg {
          width: 24px;
          height: 24px;
        }
        .ext-toggle .icon {
          width: 40px;
          height: 40px;
        }
      }
      .nr-ext-profile-account {
        .nr-ext-account-other {
          padding-bottom: 8px;
          .profile-cell {
            &:nth-child(1) {
              height: 56px;
            }
          }
        }
      }

      .nr-ext-profile-preference,
      .nr-ext-profile-voice {
        display: none;
      }

      &[profile-status="init"] {
        .nr-ext-account-init {
          text-align: center;
          height: 240px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .init-title {
            font-size: 15px;
            color: $ext-dark-white;
          }
          .init-subTitle {
            width: 200px;
            font-size: 15px;
            line-height: 22px;
            color: $ext-grey;
          }

          .row-login {
            display: flex;
            justify-content: center;
            padding: 16px 0;

            .ext-primary-button {
              margin-right: 16px;
            }
          }
        }
        .nr-ext-account-login {
          display: none;
        }
      }
      &[profile-status="login"] {
        .nr-ext-profile-header {
          #logoutBtn {
            display: block;
          }
        }
        .nr-ext-account-init {
          display: none;
        }
        .nr-ext-account-login {
          padding: 20px;
          height: 200px;

          .nr-ext-account-detail {
            background: $ext-dark-grey-dark;
            border-radius: 4px;
            padding: 16px 0;
            color: $ext-dark-white;

            .nr-ext-account-info {
              width: 100%;
              padding: 0 16px;
              display: flex;
              flex-direction: column;
              align-items: center;

              #userEmail {
                width: 100%;
                text-align: center;
                font-weight: 700;
                font-size: 13px;
                line-height: 20px;

                word-wrap: break-word;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              #userLicType {
                font-size: 12px;
                line-height: 20px;
                width: 100%;
                text-align: center;
                color: $ext-grey-dark;
              }
              .icon-lg {
                width: 40px;
                height: 40px;
                fill: $ext-grey;
              }
              .ext-icon-button-sm {
                fill: $ext-grey-dark;
              }
            }

            .nr-ext-account-plan {
              padding-top: 20px;
              display: flex;
              justify-content: space-around;
            }
          }
        }
      }
      &[profile-status="preferences"] {
        .nr-ext-profile-account {
          display: none;
        }
        .nr-ext-profile-preference {
          display: block;
          padding-bottom: 8px;
        }
      }
      &[profile-status="voices"] {
        .nr-ext-profile-account {
          display: none;
        }
        .nr-ext-profile-voice {
          display: block;
          padding: 16px;
          color: $ext-dark-white;

          .nr-ext-profile-header {
            padding: 0;
          }

          .tips {
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 1rem;
            height: 160px;
          }
          .dropdown {
            .nr-ext-preset-voice-list .nr-ext-voice-cell .preset-voice {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              padding: 0 20px;
              margin: 0;
              line-height: 38px;
              font-size: 13px;
            }
          }
        }
      }
    }

    .nr-ext-launch {
      padding: 20px;
      background: $ext-black-dark;
      box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.08);
      border-radius: 0 0 8px 8px;
      display: none;
      color: $ext-dark-white;
  
      .nr-ext-launch-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        font-size: 15px;
        font-weight: 700;
      }
      .nr-ext-launch-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ext-link-button {
          margin-right: 1rem;
        }
      }
      .nr-ext-launch-content {
        font-size: 13px;
        padding: 16px 0;
        svg.icon {
          width: 24px;
          height: 24px;
        }
      }
      & > div {
        display: none;
      }
      &[launch-status="init"]{
        .nr-ext-launch-init {
          display: block;
          height: 152px;
        }
      }
      &[launch-status="feature"]{
        .nr-ext-launch-feature {
          display: block;
          height: 301px;
          .nr-ext-launch-header {
            align-items: flex-start;
            margin-right: -8px;
            .icon {
              width: 164px;
              height: 32px;
              margin-top: -10px;
            }
          }
          .nr-ext-launch-menu-header {
            height: 80px;
            margin: 0 -19px;
            border-bottom: 1px solid $ext-dark-grey-dark;
            display: flex;
            justify-content: center;
  
            .nr-ext-launch-menu-bar {
              width: 240px;
              height: 40px;
              padding: 10px;
              margin-top: 10px;
              display: flex;
              justify-content: space-around;
              box-shadow: 0 4px 20px rgba(255, 255, 255, 0.08);
              border-radius: 8px;
  
              svg.icon {
                width: 20px;
                height: 20px;
                fill: $ext-grey;
              }
            }
          }
          .nr-ext-launch-menu-info {
            width: 100%;
            padding-top: 16px;
            .nr-ext-launch-menu-item {
              width: 100%;
              height: 30px;
              display: flex;
              align-items: center;
              font-size: 12px;
              line-height: 20px;
  
              svg.icon {
                width: 16px;
                height: 16px;
                fill: $ext-grey;
                margin-right: 10px;
              }
  
            }
          }
        }
      }
      &[launch-status="pin"]{
        .nr-ext-launch-pin {
          display: block;
          
          .nr-ext-launch-pin-header {
            height: 72px;
            margin: 0 -19px 16px;
            border-bottom: 1px solid $ext-dark-grey-dark;
            display: flex;
            justify-content: center;
  
            .nr-ext-launch-pin-bar {
              width: 294px;
              height: 72px;
              background: url(chrome-extension://__MSG_@@extension_id__/assets/img/pin.png) center no-repeat;
              background-size: 294px 72px;
            }
          }
  
          .nr-ext-launch-pin-info {
            line-height: 18px;
  
            svg.icon {
              width: 16px;
              height: 16px;
              fill: $ext-grey;
            }
          }
        }
      }
    }
  }
  .btn-relocate{
    display: none;
  }
  .nr-ext-container[data-launch="true"][data-size="max"] {
    .nr-ext-main-container {
      border-radius: 8px 8px 0 0;
    }
    .nr-ext-launch {
      display: block;
    }
  }

  .nr-ext-container[data-size="min"] {
    .nr-ext-progress-container,
    .nr-ext-menu,
    .nr-ext-main-container #btn_settings {
      display: none;
    }

    .nr-ext-main-container {
      width: 104px;
      height: 56px;

      border-radius: 8px;
      background: $ext-dark-grey-dark;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 8px;

      .nr-ext-left-content {
        display: none;
      }
      .nr-ext-main-content {
        .ext-icon-button-md,
        #btn_stop,
        .btn-relocate {
          display: none;
        }
        .btn-relocate {
          position: fixed;
          top: 30px;
          right: 3px;
        }
      }
      .nr-ext-right-content {
        #btn_min {
          display: none;
        }
        #btn_exit {
          margin-left: 4px;
        }
      }
    }
  }

  .nr-ext-container[data-size="max"] {
    width: 320px;

    .nr-ext-main-container {
      width: 100%;
      height: 60px;
      box-shadow: none;
      background: $ext-dark-grey-dark;
      padding: 8px;

      display: flex;
      justify-content: space-between;

      .nr-ext-left-content {
        width: 40px;

        svg {
          fill: $ext-grey;
        }
      }
      .nr-ext-main-content {
        flex-grow: 1;
        justify-content: center;
        display: flex;
        align-items: center;

        .nr-ext-main-btn {
          width: 28px;
        }

        button {
          margin: 0 4px;
        }

        svg {
          fill: $ext-dark-white;
        }
      }
      .nr-ext-right-content {
        width: 40px;
        display: flex;
        justify-content: flex-end;

        svg {
          fill: $ext-grey;
        }
        #btn_max {
          display: none;
        }
        #btn_exit {
          margin-left: 6px;
        }
      }
    }
  }

  [data-play="init"] {
    &[data-size="max"] {
      .nr-ext-progress-container {
        display: none;
      }
    }

    .nr-ext-main-container {
      .nr-ext-main-content {
        #btn_stop,
        .btn-relocate,
        .icon-pause {
          display: none;
        }
        .icon-play {
          display: block;
        }
      }
    }
  }

  [data-play="play"] {
    &[data-size="max"] {
      .nr-ext-main-container {
        margin-top: 0;
      }
    }
    .nr-ext-main-container {
      .nr-ext-main-content {
        #btn_stop,
        .icon-play {
          display: none;
        }
        .icon-pause {
          display: block;
        }
      }
    }
  }

  [data-play="pause"] {
    &[data-size="max"] {
      .nr-ext-main-container {
        margin-top: 0;
      }
    }
    .nr-ext-main-container {
      .nr-ext-main-content {
        .icon-play {
          display: block;
        }
        .icon-pause {
          display: none;
        }
      }
    }
  }

  .nr-ext-menu-header {
    padding: 0 16px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;

    .ext-icon-button {
      width: 25%;
      height: 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      color: $ext-dark-grey;

      svg {
        fill: $ext-dark-grey;
        &:hover {
          fill: $ext-light-blue;
        }
      }

      & > span {
        width: 100%;
        height: 13px;
        &:hover {
          color: $ext-light-blue;
        }
      }

      & > span > span {
        display: none;
      }
    }
  }
  .nr-ext-menu-content {
    .nr-menu-top {
      width: 100%;
      height: 40px;
      padding: 0 4px;

      color: $ext-dark-white;

      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      div:first-child {
        width: 24px;
      }

      svg {
        fill: $ext-grey;
      }
    }
  }

  .nr-ext-menu-upload {
    display: none;
    padding: 0 16px;

    .nr-ext-upload-content {
      padding: 20px 4px;

      & > div {
        display: none;
        border: 1px dashed $ext-grey;
        border-radius: 8px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        line-height: 20px;
        font-weight: 400;
        height: 200px;
      }
    }

    &[upload-status="init"] {
      .nr-upload-init {
        display: flex;

        .ext-icon-button-sm {
          svg {
            fill: $ext-dark-white;
          }
        }
      }
    }
    &[upload-status="loading"] {
      .nr-upload-loading {
        display: flex;

        .loading {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 5px solid $ext-primary-700-dark;
        }
      }
    }
    &[upload-status="finish"] {
      .nr-upload-finish {
        display: flex;

        button {
          display: block;
        }
      }
    }
    &[upload-status="error"] {
      .nr-upload-error {
        display: flex;
        button {
          display: block;
        }
        svg.icon {
          width: 20px;
          height: 20px;
        }
        p {
          max-width: calc(100% - 28px);
          text-align: left;
          margin-left: 6px;
        }
      }
    }
  }
  .nr-ext-menu-mobile {
    display: none;
    padding: 0 16px;

    .nr-ext-mobile-content {
      padding: 16px 4px;
      color: $ext-dark-white;

      & > div {
        display: none;
        background: $ext-dark-grey-dark;
        border-radius: 8px;
        
        text-align: center;
        line-height: 20px;
        font-weight: 400;
        height: 200px;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.nr-mobile-footer {
          display: block;
          text-align: left;
          background-color: transparent;
          height: 60px;
          padding: 16px 0 0 0;
          color: $ext-grey;

          & > div:last-child .ext-icon-button-lg {
            border: 1px solid $ext-dark-grey-dark;
            margin-left: 16px;
          }

          & > div:last-child .ext-icon-button-lg svg {
            width: 24px;
            height: 24px;
            fill: $ext-grey;
          }
        }
      }
    }

    &[mobile-status="init"] {
      .nr-mobile-init {
        display: flex;
      }
    }
    &[mobile-status="save"] {
      .nr-mobile-save {
        display: flex;
      }
    }
    &[mobile-status="loading"] {
      .nr-mobile-loading {
        display: flex;

        .loading {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 5px solid $ext-primary-700-dark;
        }
      }
    }
    &[mobile-status="finish"] {
      .nr-mobile-finish {
        display: flex;

        svg.icon {
          width: 40px;
          height: 40px;
        }
      }
    }
    &[mobile-status="error"] {
      .nr-mobile-error {
        display: flex;
        padding: 0 16px;

        background-color: #4D1F1F;
        button {
          display: block;
        }
        svg.icon {
          width: 20px;
          height: 20px;
        }
        p {
          max-width: calc(100% - 28px);
          text-align: left;
          margin-left: 6px;
        }
      }
    }
  }
  .nr-ext-menu-voice {
    display: none;

    .nr-ext-voice-content {
      color: $ext-dark-white;

      .nr-ext-voice-settings {
        padding: 0 16px;
        .nr-ext-voice-cell {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;

          .nr-ext-progress-bar {
            width: 160px;
            padding: 0 9px;
          }
          .nr-ext-voice-cell-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg.icon-light {
              width: 24px;
              height: 24px;
              fill: $ext-light-grey;
            }

            .ext-icon-button-xs {
              margin-left: 8px;
            }
          }
        }
      }

      .nr-ext-voice-list {
        .nr-ext-voice-list-header {
          height: 40px;
          display: flex;
          justify-content: space-around;
          border-bottom: 1px solid $ext-dark-grey-dark;

          .ext-button {
            font-size: 13px;
            width: 33%;
            text-transform: uppercase;
            color: $ext-grey;
            border-radius: 0;
          }
        }

        .nr-ext-voice-list-content {
          height: 256px;
          overflow-y: auto;
          .nr-ext-voice-cell {
            height: 40px;
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .voice-detail {
              margin-bottom: 0 !important;
              display: flex;
              align-items: center;
              width: calc(100% - 44px);
              cursor: pointer;
              line-height: 40px;

              .flag {
                width: 24px;
                height: 24px;
              }
              .voice {
                text-transform: capitalize;
                padding: 0 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
              }
            }
            .ext-icon-button {
              display: none;
            }

            &:hover {
              background: $ext-dark-grey;
              color: $ext-light-blue;

              .ext-icon-button {
                display: inline-block;
              }
            }
          }
        }

        &[voice-type="free"] {
          .nr-ext-voice-list-header {
            .ext-button#nr-ext-voice-free {
              color: $ext-primary-700-dark;
              border-bottom: 2px solid $ext-primary-700-dark;
              font-weight: 700;
            }
          }
        }
        &[voice-type="prem"] {
          .nr-ext-voice-list-header {
            .ext-button#nr-ext-voice-prem {
              color: $ext-primary-700-dark;
              border-bottom: 2px solid $ext-primary-700-dark;
              font-weight: 700;
            }
          }
        }
        &[voice-type="plus"] {
          .nr-ext-voice-list-header {
            .ext-button#nr-ext-voice-plus {
              color: $ext-primary-700-dark;
              border-bottom: 2px solid $ext-primary-700-dark;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .nr-ext-menu-settings {
    display: none;
    padding-bottom: 8px;

    .nr-ext-settings-header.nr-menu-top {
      padding: 0 16px;
    }
    .nr-ext-settings-content {
      .btn-cell {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $ext-dark-white;

        .icon {
          width: 24px;
          height: 24px;
          fill: $ext-grey;
        }
      }

      .nr-ext-settings-cell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 16px;
        color: $ext-dark-white;

        .nr-ext-settings-cell-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .ext-icon-button-xs {
            margin-left: 8px;
            svg {
              fill: $ext-grey;
            }
          }
          & > svg {
            fill: $ext-grey;
          }
        }
        .ext-icon-button > svg {
          fill: $ext-grey;
        }
      }

      .nr-ext-settings-highlight {
        padding: 0 16px;
      }
      .nr-ext-settings-read-selection {
        padding: 0 16px;
        .nr-ext-settings-cell {
          padding: 0;
        }
      }
    }

    &[settings-status="init"] {
      .nr-ext-settings-header {
        display: none;
      }
      .nr-ext-settings-highlight,
      .nr-ext-settings-read-selection,
      .nr-ext-settings-cc {
        display: none;
      }
    }

    &[settings-status="highlight"] {
      .nr-ext-settings-init,
      .nr-ext-settings-read-selection,
      .nr-ext-settings-cc {
        display: none;
      }
    }
    &[settings-status="read"] {
      .nr-ext-settings-init,
      .nr-ext-settings-highlight,
      .nr-ext-settings-cc {
        display: none;
      }
    }
    &[settings-status="cc"] {
      .nr-ext-settings-init,
      .nr-ext-settings-highlight,
      .nr-ext-settings-read-selection {
        display: none;
      }
    }
  }
  [menu-status="init"] {
    .nr-ext-main-container {
      border-radius: 8px;
    }
    .nr-ext-menu-header {
      .ext-icon-button {
        & > span {
          display: none;
        }
      }
    }
  }
  [menu-status="upload"] {
    .nr-ext-menu-header {
      svg.icon-upload {
        fill: $ext-primary-700-dark !important;
        & ~ span {
          & > span {
            display: block;
            color: $ext-primary-700-dark;
          }
        }
      }
    }
    .nr-ext-menu-upload {
      display: block;
    }
  }
  [menu-status="mobile"] {
    .nr-ext-menu-header {
      svg.icon-mobile {
        fill: $ext-primary-700-dark !important;
        & ~ span {
          & > span {
            display: block;
            color: $ext-primary-700-dark;
          }
        }
      }
    }
    .nr-ext-menu-mobile {
      display: block;
    }
  }
  [menu-status="voice"] {
    .nr-ext-menu-header {
      svg.icon-voice {
        fill: $ext-primary-700-dark !important;
        & ~ span {
          & > span {
            display: block;
            color: $ext-primary-700-dark;
          }
        }
      }
    }
    .nr-ext-menu-voice {
      display: block;
    }
  }
  [menu-status="settings"] {
    .nr-ext-menu-header {
      svg.icon-settings {
        fill: $ext-primary-700-dark !important;
        & ~ span {
          & > span {
            display: block;
            color: $ext-primary-700-dark;
          }
        }
      }
    }
    .nr-ext-menu-settings {
      display: block;
    }
  }

  .nr-ext-container[data-size="profile"] {
    width: 320px;

    .nr-ext-progress-container {
      display: none;
    }

    .nr-ext-main-container {
      display: none;
    }

    .nr-ext-menu {
      display: none;
    }
    .nr-ext-profile-container {
      display: block;
    }
  }
}
