:root {
    --color-bg: $FF_BG;
    --color-bg-alt: $FF_BG_ALT;
    --color-fg: $FF_FG;
    --color-fg-alt: $FF_FG_ALT;
    --color-primary: $FF_PRIMARY;
    --disabled: $FF_DISABLED;
    --corner-radius: ${W_CORNER_RADIUS}px;
}

/**
 * ------------------------------------------------
 * FF pages
 * ------------------------------------------------
 */

@-moz-document url("about:newtab"), url("about:home"), url("about:blank"), url("about:preferences") { 
    body { background-color: var(--color-bg) !important; } 
} 

/**
 * ------------------------------------------------
 * duckduckgo
 * ------------------------------------------------
 */

@-moz-document domain(duckduckgo.com) {
    .site-wrapper, .header-wrap { background-color: var(--color-bg) !important; }
    /* hide duckduckgo logo - not because I hate it but because I think it's more aesthetic without it*/
    .header__logo { background-image: none !important; }

    .search--home, .search--header { background-color: var(--color-bg) !important; }
    .search--focus .search__button,
    .search--hover .search__button,
    .acp--highlight {
        background-color: var(--color-bg-alt) !important;
    }

    .tileview .metabar--fixed { background-color: var(--color-bg) !important; }
    .tile .tile__body { background: var(--color-bg-alt) !important; }

    .results--main .highlight { background-color: var(--color-bg-alt) !important; }

    .module, .module--carousel__item { background: var(--color-bg-alt) !important; }
    .module.module--carousel { background: var(--color-bg) !important; }
    .module--carousel__left,
    .module--carousel__right {
        background-color: var(--color-bg) !important;
        border-color: var(--color-bg-alt) !important;
    }
    .module--carousel__left:hover,
    .module--carousel__right:hover {
        background-color: var(--color-bg-alt) !important;
    }
    .module__toggle { background-color: var(--color-bg-alt) !important; }

    .feedback-btn, .feedback-btn a { background: var(--color-bg-alt) !important; }

    .btn {
        background-color: var(--color-bg) !important;
        border: 1px solid var(--color-bg-alt) !important;
    }
    .btn:hover { background-color: var(--color-bg-alt) !important; }

    .vertical--map__sidebar__wrapper, .place-detail { background: var(--color-bg) !important; }

    .acp-wrap, .zci { background-color: var(--color-bg) !important; }
    .zci--videos .metabar,
    .zci--images .metabar {
        background-color: var(--color-bg) !important;
    }

    .footer { background-color: var(--color-bg) !important; }
    .footer__card { background-color: var(--color-bg-alt) !important; }

    .modal__box,
    .modal__box__header,
    .modal .frm__text,
    .modal .frm__input {
        border: 1px solid var(--color-bg-alt) !important;
        background: var(--color-bg) !important;
    }

    .modal__list__link:hover { background-color: var(--color-bg-alt) !important; }

    .showcase__dropdown-bottom { background-color: var(--color-bg) !important; }

    .nav-menu, .nav-menu--slideout { background-color: var(--color-bg) !important; }

    /* styles */

    .acp-wrap { padding: 0 !important; }

    .search-filters-wrap::before,
    .search-filters-wrap::after,
    .metabar__dropdowns-wrap::before,
    .metabar__dropdowns-wrap::after {
        background-image: none !important;
    }

    .module--carousel__item { box-shadow: none !important; }
}

/**
 * ------------------------------------------------
 * youtube
 * ------------------------------------------------
 */

@-moz-document domain(youtube.com) {
    :root { 
        --yt-spec-general-background-a: var(--color-bg) !important;
    }
    /* TODO */
}

/**
 * ------------------------------------------------
 * github
 * ------------------------------------------------
 */

@-moz-document domain(github.com) {
    /* TODO */
}

/**
 * ------------------------------------------------
 * messenger
 * ------------------------------------------------
 */

@-moz-document domain(messenger.com) {
    /* body > div > div > div, */
    /* ._4sp8 { */
    /*       background-color: var(--color-bg) !important; */
    /* } */
    /* TODO */
}

