:root {
    --color-bg: $FF_BG;
    --color-bg-alt: $FF_BG_ALT;
    --color-fg: $FF_FG;
    --color-fg-alt: $FF_FG_ALT;
    --color-primary: $FF_PRIMARY;
    --disabled: $FF_DISABLED;
    --corner-radius: ${W_CORNER_RADIUS}px;

    --lwt-accent-color: var(--color-bg-alt) !important;
    --lwt-text-color: var(--color-fg) !important;
    --lwt-toolbar-field-focus: var(--color-bg-alt) !important;
    --lwt-toolbar-field-focus-color: var(--color-fg) !important;

    --toolbar-bgcolor: var(--color-bg-alt) !important;

    --urlbar-separator-color: var(--color-bg-alt) !important;
    --chrome-content-separator-color: var(--color-bg-alt) !important;
    --lwt-toolbar-field-background-color: var(--color-bg-alt) !important;
    --lwt-toolbar-field-color: var(--color-fg) !important;
    --lwt-toolbar-field-border-color: var(--color-bg-alt) !important;

    --lwt-toolbarbutton-icon-fill: var(--color-fg-alt) !important;
    --urlbar-popup-url-color: var(--color-fg) !important;
    --urlbar-popup-action-color: var(--color-fg) !important;

    --panel-separator-color: var(--color-bg-alt) !important;

    --panel-disabled-color: var(--disabled) !important;
    --autocomplete-popup-color: var(--color-fg) !important;
    --arrowpanel-dimmed: var(--color-bg) !important;
    --arrowpanel-dimmed-further: var(--color-bg-alt) !important;
    --arrowpanel-dimmed-even-further: var(--color-bg-alt) !important;

    --avatar-image-url: none !important;
}

toolbar {
    --toolbarbutton-hover-background: none !important;
    --toolbarbutton-active-background: none !important;
    --backbutton-active-background: none !important;
    --backbutton-background: none !important;
}

tab {
    --tab-line-color: var(--color-bg-alt) !important;
    --tab-min-width: 110px !important;
}

tab[selected="true"] .tab-background-inner {
    background-color: var(--color-bg);
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
}

.tab-background { border-width: 0px !important; }
.tab-line { height: 0 !important; }
tab::after { border: none !important; }

image#pocket-button,
#appMenu-library-pocket-button,
toolbarbutton#pageAction-panel-pocket {
    display: none; /* get rekt Mozilla */
}

button, toolbarbutton, #pageActionButton { cursor: pointer !important; }

#fxa-avatar-image, #fxa-menu-avatar { background-color: var(--color-primary); }

#sidebar-box {
    --sidebar-border-color: var(--color-bg) !important;
    --sidebar-background-color: var(--color-bg) !important;
}

#bookmarksPanel { --lwt-sidebar-background-color: var(--color-bg) !important; }

tabs { --tab-min-height: 38px; }

:root,
.panel-arrowcontainer,
#confirmation-hint {
    --arrowpanel-background: var(--color-bg) !important;
    --arrowpanel-color: var(--color-fg) !important;
    --arrowpanel-border-color: var(--color-bg) !important;
}

#navigator-toolbox {
    --tabs-border-color: var(--color-bg-alt) !important;
    border: 0px !important;
}

#urlbar-background, #searchbar { box-shadow: none !important; }
#urlbar-input { outline: none !important; }
#editBookmarkPanelDoneButton { background-color: var(--color-primary) !important; }
#back-button > .toolbarbutton-icon { border: none !important; }
#urlbar-background, #searchbar { border: none !important; }
#reader-mode-button[readeractive] { fill: var(--color-primary) !important; }

#navigator-toolbox {
    display: flex;
    flex-direction: column-reverse;
}

#titlebar, #nav-bar { flex: 1; } 
.toolbar-items { display: flex; } 
#TabsToolbar-customization-target { flex: 1; }

#tabs-newtab-button,
#new-tab-button,
#alltabs-button,
#pageActionButton,
#tracking-protection-icon-container,
#scrollbutton-down,
#scrollbutton-up,
#library-button,
#back-button,
#forward-button,
#reload-button,
#home-button,
#fxa-toolbar-menu-button,
#sidebar-button,
.tab-close-button {
    display: none;
}

#PanelUI-button {
    border: none !important;
    padding: 0 !important;
}

/* extension-specific */

#adblockultimate_adblockultimate_net-browser-action,
.toolbarbutton-badge {
  display: none;
}

#_testpilot-containers-browser-action,
.toolbarbutton-1 {
    fill: var(--color-fg-alt) !important;
}
