/**
 * Inspired by the Simplify Silver theme from dpcdpc11.gumroad.com
 */

:root,
:root:-moz-lwtheme-brighttext {
  --color-fg: $C_GRAY_1;
  --color-fg-alt: $C_GRAY_0;
  --color-bg: $C_BLACK_0;
	--color-bg-alt: $C_BLACK_1;
  --color-primary: $C_CYAN_0;
  --color-secondary: $C_RED_1;

  --radius: ${WINDOW_BORDER_RADIUS}px;
  --transition: $TRANSITION;
  /* --newtab-background-color: transparent; */

  --color-test: rgba(0,255,0,0.2);
}

/**
 * ------------------------------------------------
 * new tab page
 * ------------------------------------------------
 */

/*
 * bg color
 */

@media (prefers-color-scheme: dark) { 
  @-moz-document url("about:newtab"), url("about:home"), url("about:blank") { 
    body { 
      background-color: var(--color-bg) !important; 
    } 
  } 
} 

/*
 * logo
 */

.search-wrapper .logo-and-wordmark .wordmark {
  /* branding text color */
  fill: var(--color-primary) !important;
}

/*
 * search bar
 */

.search-wrapper .search-button {
  display: none !important;
}

.search-wrapper input {

  /* hide search bar since address bar acts as search bar */
  display: none !important;

/*
  transition: var(--transition) !important;
*/

  /* search engine icon */
/*
  background: var(--color-bg-alt) var(--newtab-search-icon) 9px center no-repeat !important;
	background-size: 30px !important;
  color: var(--color-fg) !important;
  border: none !important;

	box-shadow: none !important;
*/
}
/*
.search-wrapper .search-inner-wrapper:hover input,
.search-wrapper .search-inner-wrapper:active input,
.search-wrapper input:focus {
  outline: none;
  border: none !important;
}

.search-wrapper .search-inner-wrapper:active input,
.search-wrapper input:focus {
	box-shadow: 0 0 5px var(--color-bg-alt) !important;
}

.search-wrapper .search-button,
.search-wrapper .search-button {
	transition: var(--transition) !important;
}
*/
.search-wrapper .search-button:focus,
.search-wrapper .search-button:hover {
  /* background-color: var(--color-primary) !important; */
  display: none !important;
  cursor: default !important;
}

/*
 * search bar results
 */

/*
.contentSearchSuggestionTable .contentSearchSuggestionsContainer,
.contentSearchSuggestionTable .contentSearchHeader {
  background-color: var(--color-bg-alt) !important;
}
.contentSearchSuggestionTable .contentSearchSuggestionRow.selected,
.contentSearchSuggestionTable .contentSearchOneOffItem.selected {
	background-color: var(--color-bg-alt) !important;
  cursor: pointer !important;
}

.contentSearchSuggestionTable .contentSearchHeader,
.contentSearchSuggestionTable .contentSearchSettingsButton,
.contentSearchSuggestionTable .contentSearchOneOffsTable {
	border-color: var(--color-bg) !important;
}

.contentSearchSuggestionTable {
	box-shadow: none !important;
  border: none;
	border-radius: var(--radius) !important;
}
*/
