/* termite */

VteTerminal, vte-terminal {
  padding: 8px;
}

/* thunar */

.thunar .view,
.thunar .sidebar .view,
.thunar.background > .horizontal > .horizontal {
  background-color: #2e3440;
}

.thunar *:selected {
  color: #ffffff;
  background-color: #aabbcc;
}
